 <!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/> -->
  <link rel="stylesheet" href="../css/cadastro.css">
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- <link rel="stylesheet" href="../css/@media1440.css"> -->
  <link rel="stylesheet" href="../css/@mediaCadastro.css">
  <!-- <link rel="stylesheet" href="../css/style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Overpass:wght@400;700&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../css/@mediaheader1000.css">
  <link rel="stylesheet" href="../css/@media1200.css">
  <link rel="stylesheet" href="../css/@media125.css">
  <link rel="stylesheet" href="../css/@mediaheader1280.css">
  <link rel="stylesheet" href="../css/feedback.css">
  <title>Cadastro Geral</title>
</head>

<body>

  <header>
    <div class="interface">
        <div class="logo">
            <h1><a href="../pages/home.html">Thermal Tech</a></h1>
        </div>
        <nav>
            <nav class="menu-desktop">
                <ul>
                    <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                    <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                    <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                    <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                    <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                    <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                    <li><a href="http://localhost:5000/graficos">Gráficos gerenciais</a></li>
                    <li><a href="../pages/chat.html">Chat</a></li>
                </ul>
            </nav>
        </nav>
        <div class="nav-right">
          <div>
            <a href="#" class="config"><img src="../assets/icon_config.png" alt=""></a>
            <a href="#" class="sair" onclick="logout()"><img src="../assets/icon_sair.png" alt=""></a>
          </div>
          <div>
            <h4 id="userEmail"></h4>
          </div>
        </div>
        <div class="btn-abrir-menu" id="btn-menu">
            <i class="bi bi-list"></i>
        </div>
        <div class="menu-mobile" id="menu-mobile">
            <div class="btn-fechar hide" id="btn-fechar">
                <i class="bi bi-x-lg"></i>
            </div>
            <nav>
                <nav>
                    <ul>
                        <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                        <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                        <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                        <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                        <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                        <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                        <li><a href="http://localhost:5000/graficos">Gráficos gerenciais</a></li>
                        <li><a href="../pages/chat.html">Chat</a></li>
                    </ul>
                </nav>
            </nav>
        </div>
        <div class="overlay-menu"></div>
    </div>
</header>




  <br>
  <h2>Cadastros Gerais</h2>

  <section class="dados_cad">
    <div class="header_cad">
        <div class="seleciona_tabela">
            <label class="escolher">Selecione a tabela:</label>
            <select id="escolha">+ Novo Chamado</button>
                <option value="tabela_tec">Técnicos</option>
                <option value="tabela_loc">Locais</option>
                <option value="tabela_equip">Equipamentos</option>
            </select>
        </div>
        <div class="matricula_tecnico">
          <input type="number" id="matricula_tecnico" placeholder="N° matricula">
          <button onclick="filtrarPorTecnico()">Pesquisar</button>
          <button onclick="limparFiltroTecnico()" id="botaoVoltar_tec" style="display: none;">Voltar</button>
        </div>
        <div class="local_setor">
          <input type="text" id="local_setor" placeholder="Local">
          <button onclick="filtrarPorLocal()">Pesquisar</button>
          <button onclick="limparFiltroLocal()" id="botaoVoltar" style="display: none;">Voltar</button>
        </div>        
        <div class="tipo_equip">
          <input type="text" id="tipo_equip" placeholder="Equipamento">
          <button onclick="filtrarPorEquipamento()">Pesquisar</button>
          <button onclick="limparFiltroEquipamento()" id="botaoVoltar_equip" style="display: none;">Voltar</button>
        </div>      
        <div class="cadastrar">
            <button id="cadastro" onclick="mostrarCadastro()">
                <i class="fa-sharp fa-solid fa-plus fa-xs" style="color: #ffffff; margin-right: 5px;"></i>
                Cadastrar
            </button>
            <br>
            <div class="filtrar">
                <button class="filtroTec" onclick="FiltrarTec()">Filtrar Técnicos</button>
                <button class="filtroLocais" onclick="FiltrarLocais()">Filtrar Locais</button>
                <button class="filtroEquipamentos" onclick="FiltrarTiposEquipamentos()">Filtrar Equipamentos</button>
            </div>
        </div>
    </div>
</section>

  <br>
  <div class="table-container">
    <table id="tabela_tec" border="1">
      <thead>
        <tr>
          <th>Matricula</th>
          <th>Técnicos</th>
          <th>Email</th>
          <th style="width: 50px;">Editar</th>
          <th style="width: 50px;">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <% tecnicos.forEach(function(tecnico) { %>
          <tr>
            <td><%= tecnico.matricula_tec %></td>
            <td><%= tecnico.nome_tec %></td>
            <td><%= tecnico.email %></td>
            <td>
              <button onclick="editarTecnico(
            '<%= tecnico.matricula_tec %>' ,
            '<%= tecnico.nome_tec %>' ,
            '<%= tecnico.email %>' ,
            )" style="background-color: transparent; border: none;">
        <img src="../assets/botao-editar.png" width="20px" alt="">
    </button>
    <td>
    <form action="/deletar/Tecnico/<%= tecnico.matricula_tec %>" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este técnico?')">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" style="background-color: transparent; border: none;">
          <img src="../assets/delete.png" width="25">
      </button>
  </form>
</td>
  </td>
</tr>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  <div class="table-container">
    <table id="tabela_loc" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Local</th>
          <th style="width: 50px;">Editar</th>
          <th style="width: 50px;">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <% setores.forEach(function(setor) { %>
          <tr>
            <td><%= setor.id_setor %></td>
            <td><%= setor.nome_setor %></td>
            <td>
              <button onclick="editarSetores(
        '<%= setor.id_setor %>',                               
        '<%= setor.nome_setor %>',
    )" style="background-color: transparent; border: none;">
        <img src="../assets/botao-editar.png" width="20px" alt="">
    </button>
    <td>
    <form action="/deletar/Setor/<%= setor.id_setor %>" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este setor?')">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" style="background-color: transparent; border: none;">
          <img src="../assets/delete.png" width="25">
      </button>
    </td>
  </form>
  
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  <div class="table-container">
    <table id="tabela_equip" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Equipamentos</th>
          <th style="width: 50px;">Editar</th>
          <th style="width: 50px;">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <% tipo.forEach(function(tipo) { %>
          <tr>
            <td><%= tipo.id_tipar %></td>
            <td><%= tipo.tipos_arcondicionado_tipar %></td>
            <td>
              <button onclick="editarTipos(
                '<%= tipo.id_tipar %>',                               
                '<%= tipo.tipos_arcondicionado_tipar %>',
            )" style="background-color: transparent; border: none;">
                <img src="../assets/botao-editar.png" width="20px" alt="">
            </button>
          </td> <td>
            <form action="/deletar/TipoArCondicionado/<%= tipo.id_tipar %>" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este tipo de ar-condicionado?')">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" style="background-color: transparent; border: none;">
                  <img src="../assets/delete.png" width="25">
              </button>
          </form>
          
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  <section class="overlay">
    <div class="popup" id="popup-tec">
      <div class="popup-title">Cadastrar Tecnico</div>
      <div class="popup-content">
        <form action="/cadastro/tecnico" method="post">
          <div class="popup-header">
            <div>
              <label for="" class="popup-label">Matricula:</label>
              <input type="number" class="popup-input" id="matriculaTec" name="mat_tec" placeholder="" required>
            </div>
            <div>
              <label for="" class="popup-label">Nome:</label>
              <input type="text" class="popup-input" id="tag" name="nome_tec" placeholder="" required>
            </div>
            <div>
              <label for="" class="popup-label">Email:</label>
              <input type="text" class="popup-input" id="email_tec" name="email_tec" placeholder="" required>
            </div>
          </div>
      </div>
      <button type="submit" class="popup-button salvar" onclick="saveTecnico()">Salvar</button>
      </form>
      <button class="popup-button cancelar" onclick="EsconderPopupTec()">Cancelar</button>
    </div>
    <div class="popup" id="popup-loc">
      <div class="popup-title">Cadastrar Local</div>
      <div class="popup-content">
        <form action="/cadastro/setor" method="post">
          <div class="popup-header">
            <div>
              <label for="" class="popup-label">Nome:</label>
              <input type="text" class="popup-input" id="nome" name="nome_setor" placeholder="" required>
            </div>
          </div>

      </div>
      <button type="submit" class="popup-button salvar" onclick="saveSetor()">Salvar</button>
      </form>
      <button class="popup-button cancelar" onclick="EsconderPopupLoc()">Cancelar</button>
    </div>
    <div class="popup" id="popup-equip">
      <div class="popup-title">Cadastrar Equipamento</div>
      <form action="/cadastro/tipo" method="post">
        <div class="popup-content-Cad-Equip">
          <div class="popup-header">
            <div>
              <label for="" class="popup-label">Tipo:</label>
              <input type="text" class="popup-input" id="nome_tipo" name="nome_tipo" placeholder="" required>
            </div>
          </div>
          <div>
            <button type="submit" class="popup-button salvar" onclick="saveType()">Salvar</button>
      </form>
      <button class="popup-button cancelar" type="button" onclick="EsconderPopupEquip()">Cancelar</button>
    </div>
    </div>
    </div>
  </section>
  <section class="overlay-tec">
    <div class="popup" id="popup-tecnico">
        <div class="popup-title">Editar Tecnico</div>
        <div class="popup-content-tecnico">
            <form action="/atualizar/Tecnicos" method="post">
                <div class="popup-header">
                  <div>
                    <label for="" class="popup-label">Matricula:</label>
                    <input type="number" class="popup-input" id="matricula_tec" name="matricula_tec" placeholder="" required>
                </div>
                    <div>
                        <label for="" class="popup-label">Nome:</label>
                        <input type="text" class="popup-input" id="nome_tec" name="nome_tec" placeholder="" required>

                    </div>
                    <div>
                        <label for="" class="popup-label">Email:</label>
                        <input type="text" class="popup-input" id="email" name="email" placeholder="" required>
                    </div>
                </div>
                <div style="display: flex;">
                  <button type="submit" class="popup-button salvar" onclick="saveTecEdit()" style="margin-right: 10px;">Salvar</button>
                  <button type="button" class="popup-button cancelar" onclick="EsconderPopupEditTec()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</section>


  <section class="overlay-setores">
    <div class="popup" id="popup-setores">
      <div class="popup-title">Editar Setor</div>
        <form action="/atualizar/setor" method="post">
          <div class="popup-content-setor">
            <div class="popup-header">
              <div>
                <label for="" class="popup-label">Nome:</label>
                <input type="text" class="popup-input" id="nome_setor" name="nome_setor" placeholder="" required>
                <input type="text" id="id_setor" name="id_setor" style="display: none;"> 
            </div>
          </div>
        <div>
          <button type="submit" class="popup-button salvar" onclick="saveSetorEdit()">Salvar</button>
       </form>
      <button class="popup-button cancelar" type="button" onclick="EsconderPopupEditLocal()">Cancelar</button>
      </div>
    </div>
  </div>
</section>

  <section class="overlay-Tipos">
  <div class="popup" id="popup-Tipos">
    <div class="popup-title">Editar Equipamento</div>
    <form action="/atualizar/Tipos" method="post">
      <div class="popup-content-edit-equip">
        <div class="popup-header">
          <div>
            <label for="" class="popup-label">Tipo:</label>
            <input type="text" class="popup-input" id="tipos_arcondicionado_tipar" name="tipos_arcondicionado_tipar" placeholder="" required>
            <input type="text" id="id_tipar" name="id_tipar" style="display: none;">  
          </div>
        </div>
        <div>
          <button type="submit" class="popup-button salvar" onclick="saveEquipEdit()">Salvar</button>
    </form>
        <button class="popup-button cancelar" type="button" onclick="EsconderPopupEditTipo()">Cancelar</button>
        </div>
  </div>
  </div>
</section>
<section class="overlayfiltro-tec">
  <div class="popoufiltro-tec" id="popoufiltro-tec">
      <div class="popup-titulo-filtro-tec">Filtrar Técnicos</div>
      <div class="popou-content-filtro-tec">
          <div class="popup-header-filtro-tec">
            <div>
              <label for="" class="popou-label-filtro-mat">Matricula</label>
              <input type="number" class="popou-label-filtro-mat" id="Matricula" placeholder="Matricula">
          </div>
          <div>
            <label for="" class="popou-label-filtro-tec">Técnicos</label>
            <input type="text" class="popou-label-filtro-tec" id="Técnicos" placeholder="Técnicos">
        </div>
          <div>
              <label for="" class="popou-label-filtro-email">email</label>
              <input type="text" class="popou-label-filtro-email" id="email" placeholder="email">
          </div>
                  <div>
                    <button class="popup-button salvarfiltro-tec" onclick="FiltrarTec()">Filtrar</button>
                    <button class="popup-button cancelarfiltro-tec" onclick="EsconderpopouTecnico()">Cancelar</button>
                </div>
              </div>
          </div>
      </div>  
  </section>
  <section class="overlayfiltro-locais">
    <div class="popoufiltro-locais" id="popoufiltro-locais">
        <div class="popup-titulo-filtro-locais">Filtrar Locais</div>
        <div class="popou-content-filtro-locais">
            <div class="popup-header-filtro-locais">
            <div>
                <label for="" class="popou-label-filtro-local">local</label>
                <input type="text" class="popou-label-filtro-local" id="local" placeholder="local">
            </div>
                   <button class="popup-button salvarfiltro-locais" onclick="FiltrarLocais()">Filtrar</button>
                   <button class="popup-button cancelarfiltro-locais" onclick="EsconderpopouLocais()">Cancelar</button>
                  </div>
                </div>
            </div>
        </div>  
    </section>
    <section class="overlayfiltro-Equipamentos">
      <div class="popoufiltro-Equipamentos" id="popoufiltro-Equipamentos">
          <div class="popup-titulo-filtro-Equipamentos">Filtrar Equipamentos</div>
          <div class="popou-content-filtro-Equipamentos">
              <div class="popup-header-filtro-Equipamentos">
              <div>
                  <label for="" class="popou-label-filtro-Equipamentos">Equipamentos</label>
                  <input type="text" class="popou-label-filtro-Equipamentos" id="Equipamentos" placeholder="Equipamentos">
              </div>
                     <button class="popup-button salvarfiltro-Equipamentos" onclick="FiltrarTiposEquipamentos()">Filtrar</button>
                     <button class="popup-button cancelarfiltro-Equipamentos" onclick="EsconderpopouTiposEquipamentos()">Cancelar</button>
                    </div>
                  </div>
              </div>
          </div>  
      </section>

      <section class="overlayFeedback">
        <div class="popupfeedback" id="popupfeedback">
            <div class="popup-titulo-feedback">Feedback</div>
            <div class="popup-content-feedback">
                <div class="popup-header-Feedback">
                    <div id="anonymousSection">
                        <button class="EnviarAnonimamente" onclick="enableAnonymous()">Enviar Anonimamente</button>
                    </div>
                    <div id="feedbackSection">
                        <div>
                            <label for="" class="label-feedback" id="NomeFeedbackLabel">Nome:</label>
                            <input type="text" class="input-feedback" id="NomeFeedback" placeholder="Nome">
                        </div>
                        <div>
                            <label for="" class="label-feedback" id="emailLabelFeed">Email:</label>
                            <input type="text" class="input-feedback" id="emailFeed" placeholder="Email">
                        </div>
                        <div>
                            <label for="" class="label-feedback">Descrição do Feedback:</label> 
                            <textarea class="DescriçãoFeedback" name="DescriçãoFeedback" id="DescriçãoFeedback" cols="82" rows="3" required maxlength="500"></textarea>
                        </div>
                        <div>
                            <button class="popup-button salvarFeedback" onclick="SalvarFeedback()">Fazer Feedback</button>
                            <button class="popup-button cancelarFeedback" onclick="EsconderpopouFeedback()">Cancelar</button>
                        </div>
                    </div>
                </div>                
                </div>                
            </div>
        </div>
    </section>
    <section class="overlaySuporte">
        <div class="popupSuporte" id="popupSuporte">
            <div class="popup-titulo-Suporte">Suporte</div>
            <div class="popup-content-Suporte">
                <div class="popup-header-Suporte">
                    <div>
                        <label for="" class="label-Suporte">Nome:</label>
                        <input type="text" class="input-Suporte" id="NomeSuporte" placeholder="Nome">
                    </div>
                    <div>
                        <label for="" class="label-Suporte">Email:</label>
                        <input type="text" class="input-Suporte" id="email" placeholder="Email">
                    </div>
                    <div>
                        <label for="" class="label-Suporte">Descrição do Suporte:</label> 
                        <textarea name="DescriçãoSuporte" id="DescriçãoSuporte" cols="82" rows="3" required></textarea>
                    </div>
                    <div>
                        <button class="popup-button salvarSuporte" onclick="SalvarSuporte()">Fazer Suporte</button>
                        <button class="popup-button cancelarSuporte" onclick="EsconderpopouSuporte()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="position: fixed; right: 10px; bottom: 20px;">
        <div class="button-feedback" onmouseover="mostrarBotoes()" onmouseout="esconderBotoes()">
            <img src="../assets/Thermal-tach-zinho-removebg-preview.png" id="feedback-button" alt="Feedback">
            <button class="BotaoAbrirPopup" style="height: 50px;" onclick="AbrirPopupFeedback()">Fazer Feedback</button>
            <button class="BotaoAbrirPopup" style="height: 50px;" onclick="AbrirPopupSuporte()">Suporte</button>
        </div>
    </div>
</body>
<script src="../js/feedback.js"></script>
<script src="../js/menu-mobile.js"></script>
<script src="../js/scriptsCadastro.js"></script>
<script src="../js/script.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-auth-compat.js"></script>
<script src="../Login_v1/firebase-init.js"></script>
<script src="../js/auth-guard.js"></script>
<script src="../js/logout.js"></script>
</html>