<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/> -->
  <link rel="stylesheet" href="../css/cadastro.css">
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/@media1200.css">
  <link rel="stylesheet" href="../css/@media1440.css">
  <!-- <link rel="stylesheet" href="../css/style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Overpass:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <title>Cadastro Geral</title>
</head>

<body>

  <header>

    <div class="logo">

      <h1><a href="./home.html">Thermal Tech</a></h1>
    </div>
    <nav>
      <ul>
        <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
        <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
        <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
        <li><a href="http://localhost:5000/chamado">Chamados</a></li>
        <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
        <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
        <li><a href="">Gráficos gerenciais</a></li>
        <li><a href="../pages/chat.html">Chat</a></li>
      </ul>
  </nav>
    <div class="nav-right">
      <div>
        <a href="#" class="config"><img src="../assets/icon_config.png" alt=""></a>
        <a href="#" class="sair" onclick="logout()"><img src="../assets/icon_sair.png" alt=""></a>
      </div>
      <div>
        <h4 id="userEmail"></h4>
      </div>
    </div>
    </div>

  </header>

  <br>
  <h2>Cadastros Gerais</h2>

  <section class="dados_cad">
    <div class="header_cad">
        <div class="seleciona_tabela">
            <label class="escolher">Selecione a tabela:</label>
            <select id="escolha">+ Novo Chamado</button>
                <option value="tabela_tec">Técnicos</option>
                <option value="tabela_loc">Locais</option>
                <option value="tabela_equip">Equipamentos</option>
            </select>
        </div>
        <div class="matricula_tecnico">
          <input type="number" id="matricula_tecnico" placeholder="N° matricula">
          <button onclick="filtrarPorTecnico()">Pesquisar</button>
          <button onclick="limparFiltroTecnico()" id="botaoVoltar_tec" style="display: none;">Voltar</button>
        </div>
        <div class="local_setor">
          <input type="text" id="local_setor" placeholder="Local">
          <button onclick="filtrarPorLocal()">Pesquisar</button>
          <button onclick="limparFiltroLocal()" id="botaoVoltar" style="display: none;">Voltar</button>
        </div>        
        <div class="tipo_equip">
          <input type="text" id="tipo_equip" placeholder="Equipamento">
          <button onclick="filtrarPorEquipamento()">Pesquisar</button>
          <button onclick="limparFiltroEquipamento()" id="botaoVoltar_equip" style="display: none;">Voltar</button>
        </div>      
        <div class="cadastrar">
            <button id="cadastro" onclick="mostrarCadastro()">
                <i class="fa-sharp fa-solid fa-plus fa-xs" style="color: #000000; margin-right: 5px;"></i>
                Cadastrar
            </button>
            <br>
            <div class="filtrar">
                <button class="filtroTec" onclick="FiltrarTec()">Filtrar Técnicos</button>
                <button class="filtroLocais" onclick="FiltrarLocais()">Filtrar Locais</button>
                <button class="filtroEquipamentos" onclick="FiltrarTiposEquipamentos()">Filtrar Equipamentos</button>
            </div>
        </div>
    </div>
</section>

  <br>
  <div class="table-container">
    <table id="tabela_tec" border="1">
      <thead>
        <tr>
          <th>id</th>
          <th>Email</th>
          <th>Técnicos</th>
          <th>Matricula</th>
          <th style="width: 50px;">Editar</th>
          <th style="width: 50px;">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <% tecnicos.forEach(function(tecnico) { %>
          <tr>
            <td><%= tecnico.id_tec %></td>
            <td><%= tecnico.email %></td>
            <td><%= tecnico.nome_tec %></td>
            <td><%= tecnico.matricula_tec %></td>
            <td>
              <button onclick="editarTecnico(
            '<%= tecnico.id_tec %>',
            '<%= tecnico.email %>' ,
            '<%= tecnico.nome_tec %>' ,
            '<%= tecnico.matricula_tec %>' ,
            )" style="background-color: transparent; border: none;">
        <img src="../assets/botao-editar.png" width="20px" alt="">
    </button>
    <td>
    <form action="/deletar/Tecnico/<%= tecnico.id_tec %>" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este equipamento?')">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" style="background-color: transparent; border: none;">
          <img src="../assets/delete.png" width="25">
      </button>
  </form>
</td>
  </td>
</tr>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  <div class="table-container">
    <table id="tabela_loc" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Local</th>
          <th style="width: 50px;">Editar</th>
          <th style="width: 50px;">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <% setores.forEach(function(setor) { %>
          <tr>
            <td><%= setor.id_setor %></td>
            <td><%= setor.nome_setor %></td>
            <td>
              <button onclick="editarSetores(
        '<%= setor.id_setor %>',                               
        '<%= setor.nome_setor %>',
    )" style="background-color: transparent; border: none;">
        <img src="../assets/botao-editar.png" width="20px" alt="">
    </button>
    <td>
    <form action="/deletar/Setor/<%= setor.id_setor %>" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este setor?')">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" style="background-color: transparent; border: none;">
          <img src="../assets/delete.png" width="25">
      </button>
    </td>
  </form>
  
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  <div class="table-container">
    <table id="tabela_equip" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Equipamentos</th>
          <th style="width: 50px;">Editar</th>
          <th style="width: 50px;">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <% tipo.forEach(function(tipo) { %>
          <tr>
            <td><%= tipo.id_tipar %></td>
            <td><%= tipo.tipos_arcondicionado_tipar %></td>
            <td>
              <button onclick="editarTipos(
                '<%= tipo.id_tipar %>',                               
                '<%= tipo.tipos_arcondicionado_tipar %>',
            )" style="background-color: transparent; border: none;">
                <img src="../assets/botao-editar.png" width="20px" alt="">
            </button>
          </td> <td>
            <form action="/deletar/TipoArCondicionado/<%= tipo.id_tipar %>" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este tipo de ar-condicionado?')">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" style="background-color: transparent; border: none;">
                  <img src="../assets/delete.png" width="25">
              </button>
          </form>
          
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  <section class="overlay">
    <div class="popup" id="popup-tec">
      <div class="popup-title">Cadastrar Tecnico</div>
      <div class="popup-content">
        <form action="/cadastro/tecnico" method="post">
          <div class="popup-header">

            <div>
              <label for="" class="popup-label">Nome:</label>
              <input type="text" class="popup-input" id="tag" name="nome_tec" placeholder="" required>
            </div>
            <div>
              <label for="" class="popup-label">Email:</label>
              <input type="text" class="popup-input" id="tag" name="email_tec" placeholder="" required>
            </div>
            <div>
              <label for="" class="popup-label">Matricula:</label>
              <input type="number" class="popup-input" id="n/s" name="mat_tec" placeholder="" required>
            </div>
          </div>
      </div>
      <button type="submit" class="popup-button salvar" onclick="saveEquipment()">Salvar</button>
      </form>
      <button class="popup-button cancelar" onclick="EsconderPopup()">Cancelar</button>
    </div>
    <div class="popup" id="popup-loc">
      <div class="popup-title">Cadastrar Local</div>
      <div class="popup-content">
        <form action="/cadastro/setor" method="post">
          <div class="popup-header">
            <div>
              <label for="" class="popup-label">Nome:</label>
              <input type="text" class="popup-input" id="nome" name="nome_setor" placeholder="" required>
            </div>
          </div>

      </div>
      <button type="submit" class="popup-button salvar" onclick="saveEquipment()">Salvar</button>
      </form>
      <button class="popup-button cancelar" onclick="EsconderPopup()">Cancelar</button>
    </div>
    <div class="popup" id="popup-equip">
      <div class="popup-title">Cadastrar Equipamento</div>
      <form action="/cadastro/tipo" method="post">
        <div class="popup-content-Cad-Equip">
          <div class="popup-header">
            <div>
              <label for="" class="popup-label">Tipo:</label>
              <input type="text" class="popup-input" id="tag" name="nome_tipo" placeholder="" required>
            </div>
          </div>
          <div>
            <button type="submit" class="popup-button salvar" onclick="saveEquipment()">Salvar</button>
          </div>
      </form>
      <button class="popup-button cancelar" type="button" onclick="EsconderPopup()">Cancelar</button>
    </div>
    </div>
    </div>
  </section>
  <section class="overlay-tec">
    <div class="popup" id="popup-tecnico">
        <div class="popup-title">Editar Tecnico</div>
        <div class="popup-content-tecnico">
            <form action="/atualizar/Tecnicos" method="post">
                <div class="popup-header">
                    <div>
                        <label for="" class="popup-label">Nome:</label>
                        <input type="text" class="popup-input" id="nome_tec" name="nome_tec" placeholder="" required>
                        <input type="text" id="id_tec" name="id_tec" style="display: none;">
                    </div>
                    <div>
                        <label for="" class="popup-label">Email:</label>
                        <input type="text" class="popup-input" id="email" name="email" placeholder="" required>
                    </div>
                    <div>
                        <label for="" class="popup-label">Matricula:</label>
                        <input type="number" class="popup-input" id="matricula_tec" name="matricula_tec" placeholder="" required>
                    </div>
                </div>
                <div style="display: flex;">
                  <button type="submit" class="popup-button salvar" onclick="saveEquipment()" style="margin-right: 10px;">Salvar</button>
                  <button type="button" class="popup-button cancelar" onclick="EsconderPopupEditTec()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</section>


  <section class="overlay-setores">
    <div class="popup" id="popup-setores">
      <div class="popup-title">Editar Setor</div>
        <form action="/atualizar/setor" method="post">
          <div class="popup-content-setor">
            <div class="popup-header">
              <div>
                <label for="" class="popup-label">Nome:</label>
                <input type="text" class="popup-input" id="nome_setor" name="nome_setor" placeholder="" required>
                <input type="text" id="id_setor" name="id_setor" style="display: none;"> 
            </div>
          </div>
        <div>
          <button type="submit" class="popup-button salvar" onclick="saveEquipment()">Salvar</button>
       </form>
      <button class="popup-button cancelar" type="button" onclick="EsconderPopupEditLocal()">Cancelar</button>
      </div>
    </div>
  </div>
</section>

  <section class="overlay-Tipos">
  <div class="popup" id="popup-Tipos">
    <div class="popup-title">Editar Equipamento</div>
    <form action="/atualizar/Tipos" method="post">
      <div class="popup-content-edit-equip">
        <div class="popup-header">
          <div>
            <label for="" class="popup-label">Tipo:</label>
            <input type="text" class="popup-input" id="tipos_arcondicionado_tipar" name="tipos_arcondicionado_tipar" placeholder="" required>
            <input type="text" id="id_tipar" name="id_tipar" style="display: none;">  
          </div>
        </div>
        <div>
          <button type="submit" class="popup-button salvar" onclick="saveEquipment()">Salvar</button>
    </form>
        <button class="popup-button cancelar" type="button" onclick="EsconderPopupEditTipo()">Cancelar</button>
        </div>
  </div>
  </div>
</section>
<section class="overlayfiltro-tec">
  <div class="popoufiltro-tec" id="popoufiltro-tec">
      <div class="popup-titulo-filtro-tec">Filtrar Técnicos</div>
      <div class="popou-content-filtro-tec">
          <div class="popup-header-filtro-tec">
          <div>
              <label for="" class="popou-label-filtro-email">email</label>
              <input type="text" class="popou-label-filtro-email" id="email" placeholder="email">
          </div>
                  <div>
                      <label for="" class="popou-label-filtro-tec">Técnicos</label>
                      <input type="text" class="popou-label-filtro-tec" id="Técnicos" placeholder="Técnicos">
                  </div>
                
                  <div>
                      <label for="" class="popou-label-filtro-mat">Matricula</label>
                      <input type="text" class="popou-label-filtro-mat" id="Matricula" placeholder="Matricula">
                  </div>
                  <div>
                    <button class="popup-button salvarfiltro-tec" onclick="FiltrarTec()">Filtrar</button>
                    <button class="popup-button cancelarfiltro-tec" onclick="EsconderpopouTecnico()">Cancelar</button>
                </div>
              </div>
          </div>
      </div>  
  </section>
  <section class="overlayfiltro-locais">
    <div class="popoufiltro-locais" id="popoufiltro-locais">
        <div class="popup-titulo-filtro-locais">Filtrar Locais</div>
        <div class="popou-content-filtro-locais">
            <div class="popup-header-filtro-locais">
            <div>
                <label for="" class="popou-label-filtro-local">local</label>
                <input type="text" class="popou-label-filtro-local" id="local" placeholder="local">
            </div>
                   <button class="popup-button salvarfiltro-locais" onclick="FiltrarLocais()">Filtrar</button>
                   <button class="popup-button cancelarfiltro-locais" onclick="EsconderpopouLocais()">Cancelar</button>
                  </div>
                </div>
            </div>
        </div>  
    </section>
    <section class="overlayfiltro-Equipamentos">
      <div class="popoufiltro-Equipamentos" id="popoufiltro-Equipamentos">
          <div class="popup-titulo-filtro-Equipamentos">Filtrar Equipamentos</div>
          <div class="popou-content-filtro-Equipamentos">
              <div class="popup-header-filtro-Equipamentos">
              <div>
                  <label for="" class="popou-label-filtro-Equipamentos">Equipamentos</label>
                  <input type="text" class="popou-label-filtro-Equipamentos" id="Equipamentos" placeholder="Equipamentos">
              </div>
                     <button class="popup-button salvarfiltro-Equipamentos" onclick="FiltrarTiposEquipamentos()">Filtrar</button>
                     <button class="popup-button cancelarfiltro-Equipamentos" onclick="EsconderpopouTiposEquipamentos()">Cancelar</button>
                    </div>
                  </div>
              </div>
          </div>  
      </section>
  <script>
    const escolha = document.getElementById("escolha");
    const tabelas = document.querySelectorAll("table");

    escolha.addEventListener("change", function () {
      const valorEscolhido = escolha.value;

      tabelas.forEach(function (tabela) {
        tabela.style.display = "none"; // Oculta todas as tabelas
      });

      document.getElementById(valorEscolhido).style.display = "table"; // Exibe a tabela selecionada
    });

    // Chame a função change para exibir a tabela inicialmente
    escolha.dispatchEvent(new Event("change"));

    function mostrarCadastro() {
      document.querySelector('.overlay').style.display = 'block'
      if (escolha.value === 'tabela_tec') {
        document.getElementById('popup-tec').style.display = 'block'
      }
      if (escolha.value === 'tabela_loc') {
        document.getElementById('popup-loc').style.display = 'block'
      }
      if (escolha.value === 'tabela_equip') {
        document.getElementById('popup-equip').style.display = 'block'
      }
    }

    function EsconderPopupEditTec() {
      document.getElementById('popup-tecnico').style.display = 'none'
      // document.querySelectorAll('.overlay-tec').style.display = 'none'
      document.querySelector('.overlay-tec').style.display='none'
    }
    function EsconderPopupEditLocal(){
      document.getElementById('popup-setores').style.display = 'none'
      document.querySelector('.overlay-setores').style.display = 'none'
    }
    function EsconderPopupEditTipo(){
      document.getElementById('popup-Tipos').style.display = 'none'
      document.querySelector('.overlay-Tipos').style.display = 'none'
    }

    function editarTecnico(id_tec, email, nome_tec, matricula_tec) {
    document.getElementById('id_tec').value = id_tec;
    document.getElementById('email').value = email;
    document.getElementById('nome_tec').value = nome_tec;
    document.getElementById('matricula_tec').value = matricula_tec;
    showPopupEditarTec();
}
function editarSetores(id_setor, nome_setor) {
    document.getElementById('id_setor').value = id_setor;
    document.getElementById('nome_setor').value = nome_setor;
    showPopupEditarSetor();
}
function editarTipos(id_tipar, tipos_arcondicionado_tipar) {
    document.getElementById('id_tipar').value = id_tipar;
    document.getElementById('tipos_arcondicionado_tipar').value = tipos_arcondicionado_tipar;
    showPopupEditartipoEquip();
}
    function pedirConfirmacao() {
        // Exibe um diálogo de confirmação e armazena o resultado em uma variável
        var confirmacao = window.confirm("Tem certeza que deseja Excluir?");

    }

function FiltrarTec() {
  document.getElementById("popoufiltro-tec").style.display = "block";
  document.querySelector(".overlayfiltro-tec").style.display = "block";
}

function EsconderpopouTecnico() {
  document.getElementById("popoufiltro-tec").style.display = "none";
  document.querySelector(".overlayfiltro-tec").style.display = "none"; // Corrigido o seletor
}
function FiltrarLocais() {
  document.getElementById("popoufiltro-locais").style.display = "block";
  document.querySelector(".overlayfiltro-locais").style.display = "block";
}

function EsconderpopouLocais() {
  document.getElementById("popoufiltro-locais").style.display = "none";
  document.querySelector(".overlayfiltro-locais").style.display = "none"; // Corrigido o seletor
}

function FiltrarTiposEquipamentos() {
  document.getElementById("popoufiltro-Equipamentos").style.display = "block";
  document.querySelector(".overlayfiltro-Equipamentos").style.display = "block";
}

function EsconderpopouTiposEquipamentos() {
  document.getElementById("popoufiltro-Equipamentos").style.display = "none";
  document.querySelector(".overlayfiltro-Equipamentos").style.display = "none"; // Corrigido o seletor
}

window.onload = function() {
    const tabelaSelect = document.getElementById("escolha");
    const botoesFiltro = {
        'tabela_tec': document.querySelector(".filtroTec"),
        'tabela_loc': document.querySelector(".filtroLocais"),
        'tabela_equip': document.querySelector(".filtroEquipamentos")
    };

    tabelaSelect.addEventListener("change", function () {
        const valorEscolhido = tabelaSelect.value;

        // Oculta todos os botões de filtro
        for (let botao in botoesFiltro) {
            botoesFiltro[botao].style.display = "none";
        }

        // Exibe o botão de filtro correspondente à tabela selecionada
        if (botoesFiltro[valorEscolhido]) {
            botoesFiltro[valorEscolhido].style.display = "inline-block";
        }
    });

    // Chame a função para configurar o filtro inicialmente
    tabelaSelect.dispatchEvent(new Event("change"));
}

document.getElementById('escolha').addEventListener('change', function() {
    // Ocultar todos os elementos primeiro
    document.querySelector('.matricula_tecnico').style.display = 'none';
    document.querySelector('.local_setor').style.display = 'none';
    document.querySelector('.tipo_equip').style.display = 'none';

    // Mostrar o elemento correspondente com base na opção selecionada
    if (this.value === 'tabela_tec') {
        document.querySelector('.matricula_tecnico').style.display = 'block';
    } else if (this.value === 'tabela_loc') {
        document.querySelector('.local_setor').style.display = 'block';
    } else if (this.value === 'tabela_equip') {
        document.querySelector('.tipo_equip').style.display = 'block';
    }
});



function filtrarPorTecnico() {
  var input, filtro, tabela, linhas, colunaMatricula, i, textoMatricula, botaoVoltar;
  input = document.getElementById("matricula_tecnico");
  filtro = input.value.toUpperCase();
  tabela = document.querySelector("table");
  linhas = tabela.getElementsByTagName("tr");
  botaoVoltar = document.querySelector("button[onclick='limparFiltroTecnico()']");

  // Verifica se o campo de entrada está vazio
  if (filtro.trim() === "") {
    alert("Por favor, insira um número de matrícula antes de pesquisar.");
    return; // Retorna sem executar a pesquisa
  }

  var matriculaEncontrada = false; // Variável para rastrear se a matrícula foi encontrada

  for (i = 1; i < linhas.length; i++) {
    colunaMatricula = linhas[i].getElementsByTagName("td")[3]; // Primeira coluna (índice 0) contém a matrícula
    if (colunaMatricula) {
      textoMatricula = colunaMatricula.textContent || colunaMatricula.innerText;
      if (textoMatricula.toUpperCase() === filtro) {
        linhas[i].style.display = "";
        matriculaEncontrada = true; // A matrícula foi encontrada
      } else {
        linhas[i].style.display = "none";
      }
    }
  }

  // Verifica se a matrícula não foi encontrada e exibe uma mensagem de erro
  if (!matriculaEncontrada) {
    alert("A matrícula '" + filtro + "' não existe.");
    // Limpa o campo de entrada
    input.value = "";
    // Mostra todos os registros novamente
    for (i = 1; i < linhas.length; i++) {
      linhas[i].style.display = "";
    }
  } else {
    // Exibe o botão "Voltar" apenas se a matrícula foi encontrada
    botaoVoltar.style.display = "inline-block";
  }
}

function limparFiltroTecnico() {
  var tabela, linhas, i;

  // Obtém a tabela e suas linhas
  tabela = document.querySelector("table");
  linhas = tabela.getElementsByTagName("tr");

  // Mostra todas as linhas da tabela
  for (i = 1; i < linhas.length; i++) {
    linhas[i].style.display = "";
  }

  // Limpa o campo de entrada
  document.getElementById("matricula_tecnico").value = "";

  // Oculta o botão "Voltar"
  document.querySelector("button[onclick='limparFiltroTecnico()']").style.display = "none";
}


function filtrarPorLocal() {
  var input, filtro, tabela, linhas, colunaLocal, i, textoLocal, botaoVoltar;
  input = document.getElementById("local_setor");
  filtro = input.value.trim().toUpperCase();

  if (filtro === "") {
    alert("Por favor, insira um nome de local antes de pesquisar.");
    return;
  }

  tabela = document.getElementById("tabela_loc");
  linhas = tabela.getElementsByTagName("tr");
  botaoVoltar = document.getElementById("botaoVoltar");

  var localEncontrado = false;

  for (i = 1; i < linhas.length; i++) {
    colunaLocal = linhas[i].getElementsByTagName("td")[1];
    if (colunaLocal) {
      textoLocal = colunaLocal.textContent || colunaLocal.innerText;
      textoLocal = textoLocal.trim().toUpperCase();

      if (textoLocal === filtro) {
        linhas[i].style.display = "";
        localEncontrado = true;
      } else {
        linhas[i].style.display = "none";
      }
    }
  }

  if (!localEncontrado) {
    alert("O local '" + filtro + "' não foi encontrado.");
    input.value = "";
    for (i = 1; i < linhas.length; i++) {
      linhas[i].style.display = "";
    }
  } else {
    botaoVoltar.style.display = "inline-block";
  }
}

function limparFiltroLocal() {
  var tabela, linhas, i;
  tabela = document.getElementById("tabela_loc");
  linhas = tabela.getElementsByTagName("tr");
  var input = document.getElementById("local_setor");
  var botaoVoltar = document.getElementById("botaoVoltar");

  input.value = "";

  for (i = 1; i < linhas.length; i++) {
    linhas[i].style.display = "";
  }

  botaoVoltar.style.display = "none";
}


// Função para filtrar por equipamento
function filtrarPorEquipamento() {
  var input, filtro, tabela, linhas, colunaEquipamento, i, textoEquipamento, botaoVoltar;
  input = document.getElementById("tipo_equip");
  filtro = input.value.trim().toUpperCase();

  if (filtro === "") {
    alert("Por favor, insira um tipo de equipamento antes de pesquisar.");
    return;
  }

  tabela = document.getElementById("tabela_equip");
  linhas = tabela.getElementsByTagName("tr");
  botaoVoltar = document.getElementById("botaoVoltar_equip"); // Usando o botaoVoltar_equip para pesquisa por equipamento

  var equipamentoEncontrado = false;

  for (i = 1; i < linhas.length; i++) {
    colunaEquipamento = linhas[i].getElementsByTagName("td")[1]; // Assumindo que a segunda coluna contém o tipo de equipamento
    if (colunaEquipamento) {
      textoEquipamento = colunaEquipamento.textContent || colunaEquipamento.innerText;
      textoEquipamento = textoEquipamento.trim().toUpperCase();

      if (textoEquipamento === filtro) {
        linhas[i].style.display = "";
        equipamentoEncontrado = true;
      } else {
        linhas[i].style.display = "none";
      }
    }
  }

  if (!equipamentoEncontrado) {
    alert("O equipamento '" + filtro + "' não foi encontrado.");
    input.value = "";
    for (i = 1; i < linhas.length; i++) {
      linhas[i].style.display = "";
    }
  } else {
    botaoVoltar.style.display = "inline-block";
  }
}

// Função para limpar o filtro e mostrar todos os registros de equipamento
function limparFiltroEquipamento() {
  var tabela, linhas, i;
  tabela = document.getElementById("tabela_equip");
  linhas = tabela.getElementsByTagName("tr");
  var input = document.getElementById("tipo_equip");
  var botaoVoltar = document.getElementById("botaoVoltar_equip"); // Usando o botaoVoltar_equip para pesquisa por equipamento

  input.value = "";

  for (i = 1; i < linhas.length; i++) {
    linhas[i].style.display = "";
  }

  botaoVoltar.style.display = "none";
}
 
 



  </script>
  <script>
    function mostrarUser() {
      const userEmail = localStorage.getItem("userEmail");

      // Insere o email no elemento HTML correspondente
      document.getElementById("userEmail").innerHTML = userEmail;
    }
    mostrarUser()
  </script>
  <script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-auth-compat.js"></script>
  <script src="../Login_v1/firebase-init.js"></script>
  <script src="../js/auth-guard.js"></script>
  <script src="../js/logout.js"></script>
  <script src="../js/script.js"></script>
</body>

</html>