<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/consulta-ordem.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Overpass:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="index.css">  
  <link rel="stylesheet" href="../css/@mediaConsultaOrdem.css">
  <link rel="stylesheet" href="../css/global.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/@mediaheader1000.css">
  <link rel="stylesheet" href="../css/@media1200.css">
  <link rel="stylesheet" href="../css/@media125.css">
  <link rel="stylesheet" href="../css/@mediaheader1280.css">
  <link rel="stylesheet" href="../css/feedback.css">
  <link rel="stylesheet" href="../css/dashboard.css">
  <title>Ordens</title>

</head>

<body>

  <header>
    <div class="interface">
        <div class="logo">
            <h1><a href="../pages/home.html">Thermal Tech</a></h1>
        </div>
        <nav>
            <nav class="menu-desktop">
                <ul>
                    <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                    <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                    <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                    <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                    <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                    <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                    <li><a href="http://localhost:5000/graficos">Gráficos gerenciais</a></li>
                    <li><a href="../pages/chat.html">Chat</a></li>
                </ul>
            </nav>
        </nav>
        <div class="nav-right">
          <div>
            <a href="#" class="config" onclick="AbrirDashboard()"><img src="../assets/icon_config.png" alt=""></a>
          </div>
        </div>
        <div class="btn-abrir-menu" id="btn-menu">
            <i class="bi bi-list"></i>
        </div>
        <div class="menu-mobile" id="menu-mobile">
            <div class="btn-fechar hide" id="btn-fechar">
                <i class="bi bi-x-lg"></i>
            </div>
            <nav>
                <nav>
                    <ul>
                        <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                        <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                        <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                        <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                        <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                        <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                        <li><a href="http://localhost:5000/graficos">Gráficos gerenciais</a></li>
                        <li><a href="../pages/chat.html">Chat</a></li>
                    </ul>
                </nav>
            </nav>
        </div>
        <div class="overlay-menu"></div>
    </div>
</header>

  <br>
  <h2>Ordens</h2>

  <section class="dados_Ord">
    <div class="header_Ord">
      <div class="num_Ord" style="text-align: center;">
        <a href="http://localhost:5000/ordem"><button id="nova_ord" style="width: 200px; margin-right: 50px; margin: 0 auto;">+ Nova Ordem de manutenção</button></a>
        <label class="label_ordem">N° Ordem:</label>
        <input type="number" class="num" id="numeroOrdem">
        <button id="pesquisar" onclick="pesquisarOrdem()">Pesquisar</button>
        <button id="limpar-filtro" style="display: none;" onclick="limparFiltro()">Voltar</button>
    </div>

      <div class="estadoOrd">
        <label>Status:</label>
        <select id="estaOrd">
          <option value="todos">Todos</option>
          <option value="aberto">Aberto</option>
          <option value="encerrada">Encerrado</option>
          <option value="andamento">Em Andamento</option>
        </select>
      </div>

      <div class="filtroOrd">
        <button id="filtro" onclick="showPopupOrdem()">Filtrar</button>
      </div>
    </div>

    <br>

    <div class="table-container">
      <table id="filtro_ord">
        <thead>
          <tr>
            <th></th>
            <th>Nº Ordem</th>
            <th>Prioridade</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Criador</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
            <% 
            function formatarData(data) {
              const dataObj = new Date(data);
              const dia = dataObj.getDate().toString().padStart(2, '0');
              const mes = (dataObj.getMonth() + 1).toString().padStart(2, '0'); // Mês começa em 0
              const ano = dataObj.getFullYear().toString();
              return `${dia}/${mes}/${ano}`;
            }
            
            for (let i = 0; i < ordem.length; i++) { %>
              <tr>
                <td><form action="/view/ordem" method="post"><input type="hidden" class="visualizar" value="<%= ordem[i].id_ordem %>" name="id_ordem"></input>
                  <button type="submit" class="visualizarOrd">Visualizar</button> 
                 </form></td>
                <td><%= ordem[i].id_ordem %></td>
                <td><%= ordem[i].nome_pri %></td>
                <td><%= ordem[i].titulo_ord %></td>
                <td><%= ordem[i].nome_status %></td>
                <td><%= ordem[i].criado_por_ord %></td>
                <td><%= formatarData(ordem[i].data_ini_ord) %></td>
              </tr>
              <% }; %>  
        </tbody>
      </table>
    </div>

  </section>
  <section class="overlayOrdem">
    <div class="popupOrdem" id="popupOrdem">
      <div class="popup-title-filter-Ordem">Filtrar Ordens</div>
      <div class="popup-content-filter-Ordem">
        <div class="popup-header-filter-Ordem">

          <div>
            <label for="" class="popup-label-filter-Ordem">Nº Ordem:</label>
            <input type="number" class="popup-label-filter-Ordem numero-chamado-input-Ordem" id="" placeholder="Nº Ordem">
          </div>
          <div>
            <label for="" class="popup-label-filter-Ordem">Prioridade:</label>
            <select name="" id="">
              <option value=""></option>
              <option value="">Alta</option>
              <option value="">Baixa</option>
              <option value="">Média</option>
            </select>
          </div>
          <div>
            <label for="" class="popup-label-filter-Ordem">descrição</label>
            <input type="text" class="popup-input-filter-Ordem" id="descrição" placeholder="descrição">
          </div>
        </div>

        <div>
          <label for="" class="popup-label-filter-Ordem">Status</label>
          <select name="" id="">
            <option value=""></option>
            <option value="">Todos</option>
            <option value="">Aberto</option>
            <option value="">Encerrado</option>
            <option value="">Em andamento</option>
          </select>
        </div>
        <div>
          <div>
            <label for="" class="popup-label-filter-Ordem">Criador</label>
            <input type="text" name="" id="Criador" class="popup-input-filter-Ordem">
          </div>
        </div>
        <div class="popup-center-filter-Ordem">
          <div>
            <label for="" class="popup-label-filter-Ordem">Data de Inico</label>
            <input type="date" name="" id="" class="popup-input-filter-Ordem">
          </div>

        </div>
        <button class="popup-button salvar" onclick="showPopupOrdem()">Filtrar</button>
        <button class="popup-button cancelar" onclick="hidePopupOrdem()">Cancelar</button>
      </div>
      </div>
    </div>
  </section>

  
  <section class="user-profile">
    <div id="feedbackModal" class="feedback">
        <div class="feedback-content">
            <span class="feedback-close" onclick="resetForm()">&times;</span>
            <h2 class="title-feedback">Feedback</h2>
            <hr class="feedbackLine">
            <form id="feedbackForm" class="feedback-form">
                <div id="anonymousSection">
                    <button class="EnviarAnonimamente" id="EnviarAnonimamenteButton" onclick="enableAnonymous()">Enviar Anonimamente</button>
                </div>
                <div class="form-group-feedback" id="nomeField">
                    <label class="labelFeedback" for="userName" id="NomeFeedbackLabel">Nome:</label>
                        <input type="text" id="NomeFeedback" class="input-field-feedback displayName" aria-describedby="userNameHelp">
                </div>
                <div class="form-group-feedback" id="emailField">
                    <label class="labelFeedback" for="userEmailInput">Email:</label>
                    <input type="email" id="userEmailInput" class="input-field-feedback userEmail" aria-describedby="userEmailHelp">
                </div>              
                <div class="form-group-feedback">
                    <label class="labelFeedback" for="DescriçãoFeedback">Descrição do Feedback:</label>
                    <input type="text" id="DescriçãoFeedback" class="input-field-feedback" aria-describedby="DescriçãoFeedback">
                </div>
                <hr>
                <div class="form-group-feedback">
                    <input type="submit" value="Salvar" class="input-submit-feedback">
                </div>
            </form>
        </div>
    </div>
  </section>
  
  <section class="user-profile">
    <div id="suporteModal" class="suporte">
        <div class="suporte-content">
            <span class="suporte-close">&times;</span>
            <h2 class="title-suporte">Suporte</h2>
            <hr class="suporteLine">
            <form id="suporteForm" class="suporte-form" action="/Suporte" method="POST" enctype="multipart/form-data">
                <div class="form-group-suporte" id="nomeField">
                    <label class="labelSuporte" for="userName">Nome:</label>
                    <input type="text" id="nome" name="nome_desc" class="input-field-suporte displayName" aria-describedby="userName">
                </div>
                <div class="form-group-suporte" id="emailField">
                    <label class="labelSuporte" for="userEmailInput">Email:</label>
                    <input type="email" id="userEmailSuporte" name="email_desc" class="input-field-suporte userEmail" aria-describedby="userEmail">
                </div>
                <div class="form-group-suporte">
                    <label class="labelSuporte" for="DescriçãoSuporte">Descrição do Suporte:</label>
                    <input type="text" id="DescriçãoSuporte" name="descricao_desc" class="input-field-suporte" aria-describedby="DescriçãoSuporte">
                </div>
                <div class="form-group-suporte">
                  <label class="labelSuporte" for="suporteArquivos">Anexar Imagem:</label>
                  <input type="file" id="suporteArquivos" name="suporteArquivos" class="input-field-suporte" multiple>
                  <div id="imagePreviewContainer" style="margin-top: 20px;"></div>
              </div>
                <hr>
                <div class="form-group-suporte">
                    <input type="submit" onclick="EnviadoSuporte()" value="Salvar" class="input-submit-feedback">
                </div>
            </form>
        </div>
    </div>
  </section>
  <section class="overlay-dashboard" id="dashboard">
    <div class="dashboard">
        <span class="close-icon" onclick="closeDashboard()">X</span>
        <form>
          <div class="image-dash">
              <label for="arquivo">
                  <img id="icone" class="user-image" src="../assets/icons8-usuário-50.png" alt="Ícone de pessoa"
                      style="cursor: pointer;">
              </label>
              <input type="file" id="arquivo" name="arquivo" accept="image/*" onchange="previewImage(event)"
                  style="display: none;">
              <img class="user-image" id="preview" src="" alt="Pré-visualização da imagem" style="display: none;">
              <div class="user-info">
                <h5 id="userName" style="color: white;" class="user-name displayName"></h5>
              </div>
          </div>
              <h5 id="userEmail" style="color: white;" class="user-email userEmail"></h5>
      </form>
        <hr>
        <div class="content-dashboard">
            <div class="links-dash">
                <a href="#" onclick="AbiriPopupPerfilUsuario()">
                    <img class="img-links" src="../assets/icons8-usuário-16.png" alt="">
                    <span class="user-name">Perfil Do Usuário</span>
                </a>
            </div>
            <div class="links-dash">
                <a href="#" class="linksdashfeedback" onclick="AbrirPopupFeedback()">
                    <img class="img-links" src="../assets/icons8-comentar-debate-50.png" alt="Ícone">
                    <span class="user-nameBotaoAbrirPopup">Feedback</span>
                </a>
            </div>
            <div class="links-dash">
                <a href="#"  class="linksdashsuporte" onclick="AbrirPopupSuporte()">
                    <img class="img-links" src="../assets/icons8-suporte-online-skin-type-1-100.png" alt="Ícone">
                    <span class="user-nameBotaoAbrirPopup">Suporte</span>
                </a>
            </div>
            <div class="links-dash">
                <a href="#" class="NotificaçõesLink">
                    <img class="img-links" src="../assets/icons8-alarmes-50.png" alt="">
                    <span class="user-name">Notificações</span>
                </a>
            </div>
            <div class="links-dash logout">
                <a href="#" class="sair" onclick="logout()">
                    <img class="img-links" src="../assets/icon_sair.png" alt="">
                    <span class="user-name">logout</span>
                </a>
            </div>
        </div>
    </div>
  </section>
  <section class="user-profile">
    <div id="userModal" class="modal">
      <div class="user-content">
        <span class="user-close">&times;</span>
        <h2 class="title-user">Perfil do Usuário</h2>
        <hr class="profileLine">
        <form id="profileForm" class="profile-form">
          <div class="form-group">
              <label class="labelUser" for="userName">Nome:</label>
              <input type="text" id="nome" name="nome_pfu" class="input-field displayName" aria-describedby="userNameHelp">
          </div>
          <div class="form-group">
              <label class="labelUser" for="userEmailPerfilUser">Email:</label>
              <input type="email" id="userEmailPerfilUser" name="email_pfu" class="input-field userEmail" aria-describedby="userEmailHelp">
          </div>              
          <div class="form-group">
            <label class="labelUser" for="userPhone">Telefone:</label>
            <input type="text" id="userPhone" name="telefone_pfu" class="input-field userPhone" aria-describedby="userPhoneHelp">
        </div>
        <div class="form-group">
            <label class="labelUser" for="CPF">CPF:</label>
            <input type="text" id="CPF" name="cpf_pfu" class="input-field userCPF" aria-describedby="CPF">
        </div>
        <div class="form-group">
            <label class="labelUserData" for="dataNascimento">Data de Nascimento:</label>
            <input type="date" id="dataNascimento" name="data_nascimento_pfu" class="input-fieldData userDataNascimento" aria-describedby="dataNascimento" maxlength="14">
        </div>
          <hr>
          <div class="form-group">
              <input type="submit" value="Salvar" class="input-submit">
          </div>
      </form>
      </div>
    </div>
  </section>
</body>
<script src="../js/dashboard.js"></script>
<script src="../js/feedback.js"></script>
<script src="../js/loading.js"></script>  
<script src="../js/menu-mobile.js"></script>
<script src="../js/scriptsConsultaOrdem.js"></script>
<script src="../js/script.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-storage-compat.js"></script> 
<script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-database-compat.js"></script>
<script src="../Login_v1/firebase-init.js"></script>
<script src="../js/auth-guard.js"></script>
<script src="../js/logout.js"></script>
<script src="../js/script.js"></script>
<script src="../js/auth-guard.js"></script>

</html>