<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/> -->
  <link rel="stylesheet" href="../css/horas.css" />
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/global.css" />
  <link rel="stylesheet" href="../css/@media1200.css" />
  <!-- <link rel="stylesheet" href="../css/style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Overpass:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/@mediaheader1000.css">
  <link rel="stylesheet" href="../css/@media125.css">
  <link rel="stylesheet" href="../css/@mediaheader1280.css">
  <link rel="stylesheet" href="../css/feedback.css">
  <link rel="stylesheet" href="../css/dashboard.css">
  <title>Homem Hora</title>
</head>

<body>
  <header>
    <div class="interface">
        <div class="logo">
            <h1><a href="../pages/home.html">Thermal Tech</a></h1>
        </div>
        <nav>
            <nav class="menu-desktop">
                <ul>
                    <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                    <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                    <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                    <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                    <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                    <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                    <li><a href="">Gráficos gerenciais</a></li>
                    <li><a href="../pages/chat.html">Chat</a></li>
                </ul>
            </nav>
        </nav>
        <div class="nav-right">
          <div>
            <a href="#" class="config" onclick="AbrirDashboard()"><img src="../assets/icon_config.png" alt=""></a>
          </div>
        </div>
        <div class="btn-abrir-menu" id="btn-menu">
            <i class="bi bi-list"></i>
        </div>
        <div class="menu-mobile" id="menu-mobile">
            <div class="btn-fechar hide" id="btn-fechar">
                <i class="bi bi-x-lg"></i>
            </div>
            <nav>
                <nav>
                    <ul>
                        <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                        <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                        <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                        <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                        <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                        <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                        <li><a href="">Gráficos gerenciais</a></li>
                        <li><a href="../pages/chat.html">Chat</a></li>
                    </ul>
                </nav>
            </nav>
        </div>
        <div class="overlay-menu"></div>
    </div>
</header>

<main>
  <h2>Homem Hora</h2>
  <section class="container_horas">
    <div class="dades_horas">
      <form action="/relatorio" method="get">
        <div class="header_horas">
          <div class="header_horas_top">
            <div class="search_horas">
              <section class="colaborador"></section>
              <label for="selectTec">Colaborador:</label>
              <select name="matriculaTecnico" onchange="location.href='/relatorio?matriculaTecnico=' + this.value">
                <option value="geral" <%=matriculaTecnicoSelecionado=='geral' ? 'selected' : '' %>>Geral</option>
                <% Tecnicos.forEach(function(tecnico) { %>
                  <option value="<%= tecnico.matricula_tec %>" <%=tecnico.matricula_tec==matriculaTecnicoSelecionado
                    ? 'selected' : '' %>><%= tecnico.nome_tec %>
                  </option>
                  <% }); %>
              </select>
            </div>
            <div class="horas_periodo">
              <label for="dataInicio">Inicio do Periodo Trabalhadado</label>
              <input type="date" id="dataInicio" name="dataInicio" value="<%= dataInicio %>">
            </div>
            <div class="horas_periodo">
              <label for="dataFim">Fim do Periodo Trabalhadado</label>
              <input type="date" id="dataFim" name="dataFim" value="<%= dataFim %>">
            </div>
            <div class="horas_periodo">
              <button type="submit">Buscar</button>
              <a href="/relatorio" class="btn btn-primary" id="botaoLimpar">Limpar</a>
            </div>
          </div>
          <div class="Prev_Manut">
            <label class="label_corretiva" for="dataInicio">Quantidade de manutenções preventivas realizadas:</label>
            <input type="text" placeholder="Preventivas:" value="<%= preventivas %>" disabled>
          </div>
          <div class="Prev_Corret">
            <label class="label_preventiva"  for="dataInicio">Quantidade de manutenções corretivas realizadas:</label>
            <input type="text" placeholder="Corretivas:" value="<%= corretivas %>" disabled>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
  <br />
  <div class="table-container">
    <table class="table_horas">
      <thead class="th_horas">
        <tr>
          <th>Ordem</th>
          <th>Tipos de Intervenção</th>
          <th>Horas Trabalhadas</th>
          <th>Data de Início do trabalho</th>
          <th>Data de Termíno do trabalho</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <% horas.forEach(function(ordem) { %>
          <tr>
            <td>
              <%= ordem.id_ordem %>
            </td>
            <td>
              <%= ordem.manut_ord %>
            </td>
            <td>
              <%= ordem.tempo_trabalhado %>
            </td>
            <td>
              <%= formatarData(ordem.data_ini_trab) %>
            </td>
            <td>
              <%= formatarData(ordem.data_fim_trab) %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  
  <% function formatarData(data) { const dataObj=new Date(data); const dia=dataObj.getDate().toString().padStart(2, '0' );
    const mes=(dataObj.getMonth() + 1).toString().padStart(2, '0' ); // Mês começa em 0 const
    ano=dataObj.getFullYear().toString(); return `${dia}/${mes}/${ano}`; } %>
    <tr>
    </tr>
    </tbody>
    </table>
    </div>

  <section class="user-profile">
    <div id="feedbackModal" class="feedback">
        <div class="feedback-content">
            <span class="feedback-close" onclick="resetForm()">&times;</span>
            <h2 class="title-feedback">Feedback</h2>
            <hr class="feedbackLine">
            <form id="feedbackForm" class="feedback-form">
                <div id="anonymousSection">
                    <button class="EnviarAnonimamente" id="EnviarAnonimamenteButton" onclick="enableAnonymous()">Enviar Anonimamente</button>
                </div>
                <div class="form-group-feedback" id="nomeField">
                    <label class="labelFeedback" for="userName" id="NomeFeedbackLabel">Nome:</label>
                        <input type="text" id="NomeFeedback" class="input-field-feedback " aria-describedby="userNameHelp">
                </div>
                <div class="form-group-feedback" id="emailField">
                    <label class="labelFeedback" for="userEmailInput">Email:</label>
                    <input type="email" id="userEmailInput" class="input-field-feedback" aria-describedby="userEmailHelp">
                </div>              
                <div class="form-group-feedback">
                    <label class="labelFeedback" for="DescriçãoFeedback">Descrição do Feedback:</label>
                    <input type="text" id="DescriçãoFeedback" class="input-field-feedback" aria-describedby="DescriçãoFeedback">
                </div>
                <hr>
                <div class="form-group-feedback">
                    <input type="submit" value="Salvar" class="input-submit-feedback">
                </div>
            </form>
        </div>
    </div>
</section>

<section class="user-profile">
    <div id="suporteModal" class="suporte">
        <div class="suporte-content">
            <span class="suporte-close">&times;</span>
            <h2 class="title-suporte">Suporte</h2>
            <hr class="suporteLine">
            <form id="suporteForm" class="suporte-form">
                <div class="form-group-suporte" id="nomeField">
                    <label class="labelSuporte" for="userName">Nome:</label>
                    <input type="text" id="nome" class="input-field-suporte" aria-describedby="userName">
                </div>
                <div class="form-group-suporte" id="emailField">
                    <label class="labelSuporte" for="userEmailInput">Email:</label>
                    <input type="email" id="userEmailSuporte" class="input-field-suporte" aria-describedby="userEmail">
                </div>              
                <div class="form-group-suporte">
                    <label class="labelSuporte" for="DescriçãoSuporte">Descrição do Suporte:</label>
                    <input type="text" id="DescriçãoSuporte" class="input-field-suporte" aria-describedby="DescriçãoSuporte">
                </div>
                <hr>
                <div class="form-group-suporte">
                    <input type="submit" value="Salvar" class="input-submit-feedback">
                </div>
            </form>
        </div>
    </div>
</section>
<section class="overlay-dashboard" id="dashboard">
    <div class="dashboard">
        <span class="close-icon" onclick="closeDashboard()">X</span>
        <form>
          <div class="image-dash">
              <label for="arquivo">
                  <img id="icone" class="user-image" src="../assets/icons8-usuário-50.png" alt="Ícone de pessoa"
                      style="cursor: pointer;">
              </label>
              <input type="file" id="arquivo" name="arquivo" accept="image/*" onchange="previewImage(event)"
                  style="display: none;">
              <img class="user-image" id="preview" src="" alt="Pré-visualização da imagem" style="display: none;">
              <div class="user-info">
                  <h4 id="userName" class="user-name"></h4>
              </div>
          </div>
              <h5 id="userEmail" style="color: white;" class="user-email"></h5>
      </form>
        <hr>
        <div class="content-dashboard">
            <div class="links-dash">
                <a href="#" onclick="AbiriPopupPerfilUsuario()">
                    <img class="img-links" src="../assets/icons8-usuário-16.png" alt="">
                    <span class="user-name">Perfil Do Usuário</span>
                </a>
            </div>
            <div class="links-dash">
                <a href="#" class="linksdashfeedback" onclick="AbrirPopupFeedback()">
                    <img class="img-links" src="../assets/icons8-comentar-debate-50.png" alt="Ícone">
                    <span class="user-nameBotaoAbrirPopup">Feedback</span>
                </a>
            </div>
            <div class="links-dash">
                <a href="#"  class="linksdashsuporte" onclick="AbrirPopupSuporte()">
                    <img class="img-links" src="../assets/icons8-suporte-online-skin-type-1-100.png" alt="Ícone">
                    <span class="user-nameBotaoAbrirPopup">Suporte</span>
                </a>
            </div>
            <div class="links-dash">
                <a href="#" class="NotificaçõesLink">
                    <img class="img-links" src="../assets/icons8-alarmes-50.png" alt="">
                    <span class="user-name">Notificações</span>
                </a>
            </div>
            <div class="links-dash logout">
                <a href="#" class="sair" onclick="logout()">
                    <img class="img-links" src="../assets/icon_sair.png" alt="">
                    <span class="user-name">logout</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="user-profile">
    <div id="userModal" class="modal">
      <div class="user-content">
        <span class="user-close">&times;</span>
        <h2 class="title-user">Perfil do Usuário</h2>
        <hr class="profileLine">
        <form id="profileForm" class="profile-form" action="/Perfil_Usuario" method="POST">
          <div class="form-group">
              <label class="labelUser" for="userName">Nome:</label>
              <input type="text" id="nome" name="nome_pfu" class="input-field" aria-describedby="userNameHelp">
          </div>
          <div class="form-group">
              <label class="labelUser" for="userEmailPerfilUser">Email:</label>
              <input type="email" id="userEmailPerfilUser" name="email_pfu" class="input-field" aria-describedby="userEmailHelp">
          </div>              
          <div class="form-group">
              <label class="labelUser" for="userPhone">Telefone:</label>
              <input type="text" id="userPhone" name="telefone_pfu" class="input-field" aria-describedby="userPhoneHelp">
          </div>
          <div class="form-group">
              <label class="labelUser" for="CPF">CPF:</label>
              <input type="text" id="CPF" name="cpf_pfu" class="input-field" aria-describedby="CPF">
          </div>
          <div class="form-group">
              <label class="labelUserData" for="dataNascimento">Data de Nascimento:</label>
              <input type="date" id="dataNascimento" name="data_nascimento_pfu" class="input-fieldData" aria-describedby="dataNascimento" maxlength="14">
          </div> 
          <hr>
          <div class="form-group">
              <input type="submit" value="Salvar" class="input-submit">
          </div>
      </form>
      </div>
    </div>
  </section>
</body>
<script src="../js/dashboard.js"></script>
<script src="../js/feedback.js"></script>
<script src="../js/loading.js"></script>  
<script src="../js/menu-mobile.js"></script>
<script src="../js/script.js"></script>
<script src="../js/scriptsHoras.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-storage-compat.js"></script> 
<script src="../Login_v1/firebase-init.js"></script>
<script src="../js/auth-guard.js"></script>
<script src="../js/logout.js"></script>
<script src="../js/script.js"></script>
<script src="../js/auth-guard.js"></script>
</html>