<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/> -->
    <link rel="stylesheet" href="../css/list.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="./css/@media1200.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/8ab443ffcb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Overpass:wght@400;700&display=swap" rel="stylesheet">
    <title>Lista de Equipamentos</title>
</head>
<body>
    <header>
        <div class="logo">
           
            <h1><a href="./home.html">Thermal Tech</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                <li><a href="http://localhost:5000/ordem">Ordem</a></li>
                <li><a href="http://localhost:5000/chamado">Chamado</a></li>
                <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                <li><a href="">Gráficos gerenciais</a></li>
                <li><a href="../pages/chat.html">Chat</a></li>
            </ul>
        </nav>
        <div class="nav-right">
            <div>
                <a href="#"  class="config"><img src="../assets/icon_config.png" alt=""></a> 
                <a  href="#" class="sair" onclick="logout()"><img  src="../assets/icon_sair.png" alt=""></a>
            </div>
            <div>
                <h4 id="userEmail"></h4>
            </div>  
        </div>
    </header>
    <main>
        <h2>Lista de Equipamentos</h2>
        <section class="dados_manut">
            <div class="header_manut">
                <div class="search_manut">
                        <h4>Consultar Equipamentos</h4>
                        <input type="text" id="tagInput" placeholder="TAG do Equipamento">
                        <button onclick="filtrarPorTag()">Pesquisar</button>
                        <button onclick="limparFiltro()" style="display: none;">Voltar</button>
                        <button id="filtro" onclick="Salvarequipamento()">Filtrar</button>



                         


                </div>
                <div class="add_manut">
                    <div>
                        <button onclick="showPopup()">Adicionar Ar Condicionado +</button>
                    </div>
                    <div>
                        <img class="icon" src="../assets/ar_equip.png" alt=""><img src="" alt="">
                    </div> 
                </div>
            </div>
        </section>
        <section class="dados_manut">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Ordem</th>
                            <th>TAG</th>
                            <th>Tipo</th>
                            <th>Modelo</th>
                            <th>Número de Série</th>
                            <th>Área Climatizada</th>
                            <th>Localidade</th>
                            <th>Setor</th>
                            <th>Descrição</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < equipamentos.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= equipamentos[i].tag_listequip %></td>
                                <td><%= equipamentos[i].tipos_arcondicionado_tipar %></td>
                                <td><%= equipamentos[i].modelo_listequip %></td>
                                <td><%= equipamentos[i].numero_serie_listequip %></td>
                                <td><%= equipamentos[i].area_cli_listequip %></td>
                                <td><%= equipamentos[i].localidade_listequip %></td>
                                <td><%= equipamentos[i].nome_setor %></td>
                                <td><%= equipamentos[i].descricao_listequip %></td>
                                <td>
                                    <button onclick="editarEquipamento(
        '<%= equipamentos[i].tag_listequip %>',
        '<%= equipamentos[i].tipos_arcondicionado_tipar %>',
        '<%= equipamentos[i].numero_serie_listequip %>',
        '<%= equipamentos[i].descricao_listequip %>',
        '<%= equipamentos[i].area_cli_listequip %>',
        '<%= equipamentos[i].localidade_listequip %>',
        '<%= equipamentos[i].nome_setor %>',
        '<%= equipamentos[i].modelo_listequip %>'
    )" style="background-color: transparent; border: none;">
        <i class="fas fa-pencil-alt icon-large" style="color: black;"></i> 
    </button>
                                    <button onclick="pedirConfirmacao()" style="background-color: transparent; border: none;">
                                        <img src="../assets/delete.png" alt>
                                    </button>
                                  </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                
            </div>
        </section>
    </main>
    <section class="overlay">
        <div class="popup" id="popup">
            <div class="popup-title">Cadastrar Equipamento</div>
            <div class="popup-content">
                <form action="/cadastro/equipamento" method="post">
               <div class="popup-header">
                 <div>
                     <label for="" class="popup-label">TAG:</label>
                     <input type="text" class="popup-input" id="tag" name="tag" placeholder="ACS-2101" required> 
                 </div>
                 <div>
                    <label for="" class="popup-label">Tipo de Equipamento:</label>
                    <select name="tipo" required>
                        <option value=""></option> <!-- Opção em branco -->
                        <% tipo.forEach(function(tipo) { %>
                            <option id="tipo"  value="<%= tipo.id_tipar %>"><%= tipo.tipos_arcondicionado_tipar %></option>
                        <% }); %>
                    </select>
                </div>
                
                 <div>
                     <label for="" class="popup-label">Número de Série</label>
                     <input type="text" class="popup-input" id="n/s" name="ns" placeholder="3928849328" required> 
                 </div>
               </div>
               <div>
                 <label for="" class="popup-label">Descrição do Equipamento</label> 
                 <textarea name="desc" id="desc" cols="82" rows="3" required></textarea>
             </div>  
               <div class="popup-center">
                 <div>
                     <label for="" class="popup-label">Aréa Climatizada</label>
                     <input type="number" name="area" id="area" class="popup-input" required>
                 </div>
                 <div>
                     <label for="" class="popup-label">Localidade</label>
                     <input type="text" name="local" id="local" required>
                 </div>
                 <div>
                    <div>
                        <label for="" class="popup-label">Setor</label>
                        <select id="setor" name="setor" required>
                            <option value=""></option>
                            <% setores.forEach(function(setor) { %>
                                <option value="<%= setor.id_setor %>"><%= setor.nome_setor %></option>
                            <% }); %>
                            </select>                        
                    </div>
               </div>
               <div>
                <label for="" class="popup-label">Modelo</label>
                <input type="number" name="modelo" id="modelo" class="popup-input" required>
            </div> 
            </div>
            <button class="popup-button salvar" onclick="saveEquipment()" >Salvar</button>
            <button  class="popup-button cancelar" onclick="hidePopup()">Cancelar</button>
        </div>
    </form>
    </section>
    <section class="overlay-edit">
        <div class="popup" id="popup-edit">
            <div class="popup-title">Cadastrar Equipamento</div>
            <div class="popup-content">
                <form>
               <div class="popup-header">
                 <div>
                     <label for="" class="popup-label">TAG:</label>
                     <input type="text" class="popup-input" id="TAG" name="tag" placeholder="ACS-2101" required> 
                 </div>
                 <div>
                    <label for="" class="popup-label">Tipo de Equipamento:</label>
                    <select id="TIPO" name="tipo" required>
                        <% tipo.forEach(function(tipo) { %>
                            <option  value="<%= tipo.id_tipar %>"><%= tipo.tipos_arcondicionado_tipar %></option>
                        <% }); %>
                    </select>
                </div>
                 <div>
                     <label for="" class="popup-label">Número de Série</label>
                     <input type="text" class="popup-input" id="N/S" name="ns" placeholder="3928849328" required> 
                 </div>
               </div>
               <div>
                 <label for="" class="popup-label">Descrição do Equipamento</label> 
                 <textarea name="desc" id="DESC" cols="82" rows="3" required></textarea>
             </div>  
               <div class="popup-center">
                 <div>
                     <label for="" class="popup-label">Aréa Climatizada</label>
                     <input type="number" name="area" id="AREA" class="popup-input" required>
                 </div>
                 <div>
                     <label for="" class="popup-label">Localidade</label>
                     <input type="text" name="local" id="LOCAL" required>
                 </div>
                 <div>
                    <div>
                        <label for="" class="popup-label">Setor</label>
                        <select id="SETOR" name="setor" required>
                            <% setores.forEach(function(setor) { %>
                                <option value="<%= setor.id_setor %>"><%= setor.nome_setor %></option>
                            <% }); %>
                            </select>                                              
                    </div>
               </div>
               <div>
                <label for="" class="popup-label">Modelo</label>
                <input type="number" name="modelo" id="MODELO" class="popup-input" required>
            </div> 
            </div>
            <button class="popup-button salvar" onclick="saveEquipment()" >Salvar</button>
            <button  class="popup-button cancelar" onclick="hidePopup()">Cancelar</button>
        </div>
    </form>
    </section>
    <section class="overlayfiltro">
    <div class="popoufiltro" id="popoufiltro">
        <div class="popup-titulo-filtro">Filtrar equipamentos</div>
        <div class="popou-content-filtro">
            <div class="popup-header-filtro">

                    <div>
                        <label for="" class="popou-label-filtro">Tag:</label>
                        <input type="text" class="popou-label-filtro" id="Tag" placeholder="Tag">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Tipo</label>
                        <input type="text" class="popou-label-filtro" id="Tipo" placeholder="Tipo">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Modelo</label>
                        <input type="text" class="popou-label-filtro" id="Modelo" placeholder="Modelo">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Número de Série</label>
                        <input type="number" class="popou-label-filtro" id="Número_Série" placeholder="Número de Série">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Área Climatizada</label>
                        <input type="text" class="popou-label-filtro" id="Área_Climatizada" placeholder="Área Climatizada">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Localidade</label>
                        <input type="text" class="popou-label-filtro" id="Localidade" placeholder="Localidade">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Setor</label>
                        <input type="text" class="popou-label-filtro" id="Setor" placeholder="Setor">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Descrição</label>
                        <input type="text" class="popou-label-filtro" id="Descrição" placeholder="Descrição">
                    </div>
                    <div>
                        <button class="popup-button salvarfiltro" onclick="Salvarequipamento()">Filtrar</button>
                        <button class="popup-button cancelarfiltro" onclick="Esconderpopou()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <script>
        function mostrarUser(){
  const userEmail = localStorage.getItem("userEmail");

  // Insere o email no elemento HTML correspondente
  document.getElementById("userEmail").innerHTML = userEmail;
}
mostrarUser()
function filtrarPorTag() {
  var input, filtro, tabela, linhas, colunaTag, i, textoTag, botaoLimparFiltro;
  input = document.getElementById("tagInput");
  filtro = input.value.toUpperCase();
  tabela = document.querySelector("table");
  linhas = tabela.getElementsByTagName("tr");
  botaoLimparFiltro = document.querySelector("button[onclick='limparFiltro()']");

  // Verifica se o campo de entrada está vazio
  if (filtro.trim() === "") {
    alert("Por favor, insira uma tag antes de pesquisar.");
    return; // Retorna sem executar a pesquisa
  }

  var tagEncontrada = false; // Variável para rastrear se a tag foi encontrada

  for (i = 1; i < linhas.length; i++) {
    colunaTag = linhas[i].getElementsByTagName("td")[1]; // Segunda coluna (índice 1) contém a TAG
    if (colunaTag) {
      textoTag = colunaTag.textContent || colunaTag.innerText;
      if (textoTag.toUpperCase() === filtro) { // Modificado aqui
        linhas[i].style.display = "";
        tagEncontrada = true; // A tag foi encontrada
      } else {
        linhas[i].style.display = "none";
      }
    }
  }

  // Verifica se a tag não foi encontrada e exibe uma mensagem de erro
  if (!tagEncontrada) {
    alert("A tag de equipamento '" + filtro + "' não existe.");
    // Limpa o campo de entrada
    input.value = "";
    // Mostra todos os registros novamente
    for (i = 1; i < linhas.length; i++) {
      linhas[i].style.display = "";
    }
  } else {
    // Exibe o botão "Voltar" apenas se a tag foi encontrada
    botaoLimparFiltro.style.display = "inline-block";
  }
}
function limparFiltro() {
  var tabela, linhas, i;

  // Obtém a tabela e suas linhas
  tabela = document.querySelector("table");
  linhas = tabela.getElementsByTagName("tr");

  // Mostra todas as linhas da tabela
  for (i = 1; i < linhas.length; i++) {
    linhas[i].style.display = "";
  }

  // Limpa o campo de entrada
  document.getElementById("tagInput").value = "";

  // Oculta o botão "Limpar Filtro"
  document.querySelector("button[onclick='limparFiltro()']").style.display = "none";
}
function editarEquipamento(tag, tipo, numeroSerie, descricao, area, localidade, setor, modelo) {
    // Preencha os campos do popup com os dados do equipamento
    document.getElementById('TAG').value = tag;
    document.getElementById('SETOR').value = setor;
    document.getElementById('TIPO').value = tipo;
    document.getElementById('N/S').value = numeroSerie;
    document.getElementById('DESC').value = descricao;
    document.getElementById('AREA').value = area;
    document.getElementById('LOCAL').value = localidade;
    document.getElementById('MODELO').value = modelo;

    // Chame a função para mostrar o popup
    showPopupEditar();
}


function Salvarequipamento() {
  document.getElementById("popoufiltro").style.display = "block";
  document.querySelector(".overlayfiltro").style.display = "block";
}
function Esconderpopou() {
  document.getElementById("popoufiltro").style.display = "none";
  document.querySelector(".overlayfiltro").style.display = "none";

}

function pedirConfirmacao() {
        // Exibe um diálogo de confirmação e armazena o resultado em uma variável
        var confirmacao = window.confirm("Tem certeza que deseja Excluir?");

}


    </script>
     <script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-app-compat.js"></script>
     <script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-auth-compat.js"></script>
     <script src="../Login_v1/firebase-init.js"></script>
     <script src="../js/auth-guard.js"></script>
     <script src="../js/logout.js"></script>
     <script src="../js/script.js"></script>
    <script src="../js/auth-guard.js"></script>
</html> 