<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/> -->
    <link rel="stylesheet" href="../css/list.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/global.css">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="./css/@media1200.css">
    <link rel="stylesheet" href="../css/@medialistEquip.css">
    <link rel="stylesheet" href="../css/@media1440.css">
    <link rel="stylesheet" href="../css/@mediaheader1000.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/8ab443ffcb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Overpass:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/@media125.css">
<link rel="stylesheet" href="../css/@mediaheader1280.css">
<link rel="stylesheet" href="../css/feedback.css">
<link rel="stylesheet" href="../css/dashboard.css">
    <title>Lista de Equipamentos</title>
</head>
<body>
    <header>
        <div class="interface">
            <div class="logo">
                <h1><a href="../pages/home.html">Thermal Tech</a></h1>
            </div>
            <nav>
                <nav class="menu-desktop">
                    <ul>
                        <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                        <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                        <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                        <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                        <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                        <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                        <li><a href="">Gráficos gerenciais</a></li>
                        <li><a href="../pages/chat.html">Chat</a></li>
                    </ul>
                </nav>
            </nav>
            <div class="nav-right">
              <div>
                <a href="#" class="config" onclick="AbrirDashboard()"><img src="../assets/icon_config.png" alt=""></a>
              </div>
            </div>
            <div class="btn-abrir-menu" id="btn-menu">
                <i class="bi bi-list"></i>
            </div>
            <div class="menu-mobile" id="menu-mobile">
                <div class="btn-fechar hide" id="btn-fechar">
                    <i class="bi bi-x-lg"></i>
                </div>
                <nav>
                    <nav>
                        <ul>
                            <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                            <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                            <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                            <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                            <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                            <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                            <li><a href="">Gráficos gerenciais</a></li>
                            <li><a href="../pages/chat.html">Chat</a></li>
                        </ul>
                    </nav>
                </nav>
            </div>
            <div class="overlay-menu"></div>
        </div>
    </header>
    <main>
        <h2>Lista de Equipamentos</h2>
        <section class="dados_manut">
            <div class="header_manut">
                <div class="search_manut">
                        <h4>Consultar Equipamentos</h4>
                        <input type="text" id="tagInput" placeholder="TAG do Equipamento">
                        <button onclick="filtrarPorTag()">Pesquisar</button>
                        <button onclick="limparFiltro()" style="display: none;">Voltar</button>
                        <button id="filtro" onclick="Salvarequipamento()">Filtrar</button>
                </div>
                <div class="add_manut">
                    <div>
                        <button onclick="showPopup()">Adicionar Ar Condicionado +</button>
                    </div>
                    <div>
                        <img class="icon" src="../assets/ar_equip.png" alt=""><img src="" alt="">
                    </div> 
                </div>
            </div>
        </section>
        <section class="dados_manut">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 110px;">TAG</th>
                            <th style="width: 40px;">Tipo</th>
                            <th>Modelo</th>
                            <th>Número de Série</th>
                            <th style="width: 40px;">Área Climatizada</th>
                            <th>Localidade</th>
                            <th>Setor</th>
                            <th>Descrição</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < equipamentos.length; i++) { %>
                            <tr>
                                <td><%= equipamentos[i].tag_listequip %></td>
                                <td><%= equipamentos[i].tipos_arcondicionado_tipar %></td>
                                <td><%= equipamentos[i].modelo_listequip %></td>
                                <td><%= equipamentos[i].numero_serie_listequip %></td>
                                <td><%= equipamentos[i].area_cli_listequip %></td>
                                <td><%= equipamentos[i].localidade_listequip %></td>
                                <td><%= equipamentos[i].nome_setor %></td>
                                <td><%= equipamentos[i].descricao_listequip %></td>
                                <td style="width: 100px;">
                                    <button onclick="editarEquipamento(
        '<%= equipamentos[i].id_equip %>',                               
        '<%= equipamentos[i].tag_listequip %>',
        '<%= equipamentos[i].tipos_arcondicionado_tipar %>',
        '<%= equipamentos[i].numero_serie_listequip %>',
        '<%= equipamentos[i].descricao_listequip %>',
        '<%= equipamentos[i].area_cli_listequip %>',
        '<%= equipamentos[i].localidade_listequip %>',
        '<%= equipamentos[i].nome_setor %>',
        '<%= equipamentos[i].modelo_listequip %>'
    )" style="background-color: transparent; border: none;">
        <img src="../assets/botao-editar.png" width="30px" alt="">
    </button>

    
 </td>
 <td><form class="btn-excluir" action="/deletar/equipamento/<%= equipamentos[i].id_equip %>" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este equipamento?')">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" style="background-color: transparent; border: none;">
        <img src="../assets/delete.png" width="35px">
    </button>
</form></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                
            </div>
        </section>
    </main>
    <section class="overlay">
        <div class="popup" id="popup">
            <div class="popup-title">Cadastrar Equipamento</div>
            <div class="popup-content">
                <form action="/cadastro/equipamento" method="post">
               <div class="popup-header">
                 <div>
                     <label for="" class="popup-label">TAG:</label>
                     <input type="text" class="popup-input" id="tag" name="tag" placeholder="ACS-2101" required> 
                 </div>
                 <div>
                    <label for="" class="popup-label">Tipo de Equipamento:</label>
                    <select name="tipo" required>
                        <option value=""></option> <!-- Opção em branco -->
                        <% tipo.forEach(function(tipo) { %>
                            <option id="tipo"  value="<%= tipo.id_tipar %>"><%= tipo.tipos_arcondicionado_tipar %></option>
                        <% }); %>
                    </select>
                </div>
                
                 <div>
                     <label for="" class="popup-label">Número de Série</label>
                     <input type="text" class="popup-input" id="n/s" name="ns" placeholder="3928849328" required> 
                 </div>
               </div>
               <div>
                 <label for="" class="popup-label">Descrição do Equipamento</label> 
                 <textarea name="desc" id="desc" cols="82" rows="3" required></textarea>
             </div>  
               <div class="popup-center">
                 <div>
                     <label for="" class="popup-label">Aréa Climatizada</label>
                     <input type="number" name="area" id="area" class="popup-input" required>
                 </div>
                 <div>
                     <label for="" class="popup-label">Localidade</label>
                     <input type="text" name="local" id="local" required>
                 </div>
                 <div>
                    <div>
                        <label for="" class="popup-label">Setor</label>
                        <select id="setor" name="setor" required>
                            <option value=""></option>
                            <% setores.forEach(function(setor) { %>
                                <option value="<%= setor.id_setor %>"><%= setor.nome_setor %></option>
                            <% }); %>
                            </select>                        
                    </div>
               </div>
               <div>
                <label for="" class="popup-label">Modelo</label>
                <input type="number" name="modelo" id="modelo" class="popup-input" required>
            </div> 
            </div>
            <button class="popup-button salvar" type="submit" onclick="saveEquipment()" >Salvar</button>
            <button class="popup-button cancelar" onclick="hidePopup()">Cancelar</button>
        </div>
    </form>
    </section>
    <section class="overlay-edit">
        <div class="popup" id="popup-edit">
            <div class="popup-title">Editar Equipamento</div>
            <div class="popup-content">
                <form action="/atualizar/equipamento" method="post">
               <div class="popup-header">
                 <div>
                     <label for="" class="popup-label">TAG:</label>
                     <input type="text" class="popup-input" id="TAG" name="TAG" placeholder="ACS-2101" required>
                     <input type="text" id="id_equip" name="id_equip" style="display: none;"> 
                 </div>
                 <div>
                    <label for="" class="popup-label">Tipo de Equipamento:</label>
                    <select name="TIPO" required>
                        <option id="TIPO" value=""></option>
                        <% tipo.forEach(function(tipo) { %>
                            <option value="<%= tipo.id_tipar %>" data-nome="<%= tipo.tipos_arcondicionado_tipar %>">
                                <%= tipo.tipos_arcondicionado_tipar %>
                            </option>
                        <% }); %>
                    </select>
                </div>
                 <div>
                     <label for="" class="popup-label">Número de Série</label>
                     <input type="text" class="popup-input" id="N/S" name="NS" placeholder="3928849328" required> 
                 </div>
               </div>
               <div>
                 <label for="" class="popup-label">Descrição do Equipamento</label> 
                 <textarea name="DESC" id="DESC" cols="82" rows="3" required></textarea>
             </div>  
               <div class="popup-center">
                 <div>
                     <label for="" class="popup-label">Aréa Climatizada</label>
                     <input type="text" name="AREA" id="AREA" class="popup-input" required>
                 </div>
                 <div>
                     <label for="" class="popup-label">Localidade</label>
                     <input type="text" name="LOCAL" id="LOCAL" required>
                 </div>
                 <div>
                    <div>
                        <label for="" class="popup-label">Setor</label>
                        <select id="SETOR" name="SETOR" required>
                            <% setores.forEach(function(setor) { %>
                                <option value="<%= setor.id_setor %>" data-nome="<%= setor.nome_setor %>">
                                    <%= setor.nome_setor %>
                                </option>
                            <% }); %>
                        </select>                                             
                    </div>
               </div>
               <div>
                <label for="" class="popup-label">Modelo</label>
                <input type="text" name="MODELO" id="MODELO" class="popup-input" required>
            </div> 
            </div>
            <div>
                <button class="popup-button salvar"type="submit" onclick="saveEquipmentEdit()" >Salvar</button>
            </form>
                <button class="popup-button cancelar" type="button" onclick="hidePopup()">Cancelar</button>
            </div>
            
        </div>
    
    </section>
    <section class="overlayfiltro">
    <div class="popoufiltro" id="popoufiltro">
        <div class="popup-titulo-filtro">Filtrar equipamentos</div>
        <div class="popou-content-filtro">
            <div class="popup-header-filtro">

                    <div>
                        <label for="" class="popou-label-filtro">Tag:</label>
                        <input type="text" class="popou-label-filtro" id="Tag" placeholder="Tag">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Tipo</label>
                        <input type="text" class="popou-label-filtro" id="Tipo" placeholder="Tipo">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Modelo</label>
                        <input type="text" class="popou-label-filtro" id="Modelo" placeholder="Modelo">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Número de Série</label>
                        <input type="number" class="popou-label-filtro" id="Número_Série" placeholder="Número de Série">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Área Climatizada</label>
                        <input type="text" class="popou-label-filtro" id="Área_Climatizada" placeholder="Área Climatizada">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Localidade</label>
                        <input type="text" class="popou-label-filtro" id="Localidade" placeholder="Localidade">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Setor</label>
                        <input type="text" class="popou-label-filtro" id="Setor" placeholder="Setor">
                    </div>
                    <div>
                        <label for="" class="popou-label-filtro">Descrição</label>
                        <input type="text" class="popou-label-filtro" id="Descrição" placeholder="Descrição">
                    </div>
                    <div>
                        <button class="popup-button salvarfiltro" onclick="Salvarequipamento()">Filtrar</button>
                        <button class="popup-button cancelarfiltro" onclick="Esconderpopou()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <section class="user-profile">
        <div id="feedbackModal" class="feedback">
            <div class="feedback-content">
                <span class="feedback-close" onclick="resetForm()">&times;</span>
                <h2 class="title-feedback">Feedback</h2>
                <hr class="feedbackLine">
                <form id="feedbackForm" class="feedback-form">
                    <div id="anonymousSection">
                        <button class="EnviarAnonimamente" id="EnviarAnonimamenteButton" onclick="enableAnonymous()">Enviar Anonimamente</button>
                    </div>
                    <div class="form-group-feedback" id="nomeField">
                        <label class="labelFeedback" for="userName" id="NomeFeedbackLabel">Nome:</label>
                            <input type="text" id="NomeFeedback" class="input-field-feedback " aria-describedby="userNameHelp">
                    </div>
                    <div class="form-group-feedback" id="emailField">
                        <label class="labelFeedback" for="userEmailInput">Email:</label>
                        <input type="email" id="userEmailInput" class="input-field-feedback" aria-describedby="userEmailHelp">
                    </div>              
                    <div class="form-group-feedback">
                        <label class="labelFeedback" for="DescriçãoFeedback">Descrição do Feedback:</label>
                        <input type="text" id="DescriçãoFeedback" class="input-field-feedback" aria-describedby="DescriçãoFeedback">
                    </div>
                    <hr>
                    <div class="form-group-feedback">
                        <input type="submit" value="Salvar" class="input-submit-feedback">
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <section class="user-profile">
        <div id="suporteModal" class="suporte">
            <div class="suporte-content">
                <span class="suporte-close">&times;</span>
                <h2 class="title-suporte">Suporte</h2>
                <hr class="suporteLine">
                <form id="suporteForm" class="suporte-form">
                    <div class="form-group-suporte" id="nomeField">
                        <label class="labelSuporte" for="userName">Nome:</label>
                        <input type="text" id="nome" class="input-field-suporte" aria-describedby="userName">
                    </div>
                    <div class="form-group-suporte" id="emailField">
                        <label class="labelSuporte" for="userEmailInput">Email:</label>
                        <input type="email" id="userEmailSuporte" class="input-field-suporte" aria-describedby="userEmail">
                    </div>              
                    <div class="form-group-suporte">
                        <label class="labelSuporte" for="DescriçãoSuporte">Descrição do Suporte:</label>
                        <input type="text" id="DescriçãoSuporte" class="input-field-suporte" aria-describedby="DescriçãoSuporte">
                    </div>
                    <hr>
                    <div class="form-group-suporte">
                        <input type="submit" value="Salvar" class="input-submit-feedback">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="overlay-dashboard" id="dashboard">
        <div class="dashboard">
            <span class="close-icon" onclick="closeDashboard()">X</span>
            <form>
                <div class="image-dash">
                    <label for="arquivo">
                        <img id="icone" class="user-image" src="../assets/icons8-usuário-50.png" alt="Ícone de pessoa"
                            style="cursor: pointer;">
                    </label>
                    <input type="file" id="arquivo" name="arquivo" accept="image/*" onchange="previewImage(event)"
                        style="display: none;">
                    <img class="user-image" id="preview" src="" alt="Pré-visualização da imagem" style="display: none;">
                    <div class="user-info">
                        <h4 id="userName" class="user-name"></h4>
                    </div>
                </div>
                    <h5 id="userEmail" style="color: white;" class="user-email"></h5>
            </form>
            <hr>
            <div class="content-dashboard">
                <div class="links-dash">
                    <a href="#" onclick="AbiriPopupPerfilUsuario()">
                        <img class="img-links" src="../assets/icons8-usuário-16.png" alt="">
                        <span class="user-name">Perfil Do Usuário</span>
                    </a>
                </div>
                <div class="links-dash">
                    <a href="#" class="linksdashfeedback" onclick="AbrirPopupFeedback()">
                        <img class="img-links" src="../assets/icons8-comentar-debate-50.png" alt="Ícone">
                        <span class="user-nameBotaoAbrirPopup">Feedback</span>
                    </a>
                </div>
                <div class="links-dash">
                    <a href="#"  class="linksdashsuporte" onclick="AbrirPopupSuporte()">
                        <img class="img-links" src="../assets/icons8-suporte-online-skin-type-1-100.png" alt="Ícone">
                        <span class="user-nameBotaoAbrirPopup">Suporte</span>
                    </a>
                </div>
                <div class="links-dash">
                    <a href="#" class="NotificaçõesLink">
                        <img class="img-links" src="../assets/icons8-alarmes-50.png" alt="">
                        <span class="user-name">Notificações</span>
                    </a>
                </div>
                <div class="links-dash logout">
                    <a href="#" class="sair" onclick="logout()">
                        <img class="img-links" src="../assets/icon_sair.png" alt="">
                        <span class="user-name">logout</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="user-profile">
        <div id="userModal" class="modal">
          <div class="user-content">
            <span class="user-close">&times;</span>
            <h2 class="title-user">Perfil do Usuário</h2>
            <hr class="profileLine">
            <form id="profileForm" class="profile-form">
              <div class="form-group">
                <label class="labelUser" for="userName">Nome:</label>
                <input type="text" id="nome" class="input-field" aria-describedby="userNameHelp">
              </div>
              <div class="form-group">
                <label class="labelUser" for="userEmailInput">Email:</label>
                <input type="email" id="userEmailInput" class="input-field" aria-describedby="userEmailHelp">
              </div>              
              <div class="form-group">
                <label class="labelUser" for="userPhone">Telefone:</label>
                <input type="text" id="userPhone" class="input-field" aria-describedby="userPhoneHelp">
              </div>
              <div class="form-group">
                <label class="labelUser" for="CPF">CPF:</label>
                <input type="number" id="CPF" class="input-field" aria-describedby="CPF">
              </div>
              <div class="form-group">
                <label class="labelUserData" for="dataNascimento">Data de Nascimento:</label>
                <input type="date" id="dataNascimento" class="input-fieldData" aria-describedby="dataNascimento" maxlength="14">
              </div> 
              <hr>
              <div class="form-group">
                <input type="submit" value="Salvar" class="input-submit">
              </div>
            </form>
          </div>
        </div>
      </section>
      
    <script src="../js/dashboard.js"></script>
    <script src="../js/dashboard.js"></script>
    <script src="../js/feedback.js"></script>
    <script src="../js/menu-mobile.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/ScriptsListaEquip.js"></script>
     <script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-app-compat.js"></script>
     <script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-auth-compat.js"></script>
     <script src="../Login_v1/firebase-init.js"></script>
     <script src="../js/auth-guard.js"></script>
     <script src="../js/logout.js"></script>
     <script src="../js/script.js"></script>
    <script src="../js/auth-guard.js"></script>
</html> 