<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/> -->
    <link rel="stylesheet" href="../css/manut.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/@media1200.css">
    <link rel="stylesheet" href="../css/@mediaheader1280.css">
    <link rel="stylesheet" href="../css/@media1440.css">
    <link rel="stylesheet" href="../css/@medialistEquip.css">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Overpass:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<link rel="stylesheet" href="../css/@media125.css">
<link rel="stylesheet" href="../css/@mediaheader1000.css">
<link rel="stylesheet" href="../css/@mediaheader1280.css">
<link rel="stylesheet" href="../css/feedback.css">
<link rel="stylesheet" href="../css/dashboard.css">
    <title>Lista de Manutenções</title>
</head>
<body>
    
    <header>
        <div class="interface">
            <div class="logo">
                <h1><a href="../pages/home.html">Thermal Tech</a></h1>
            </div>
            <nav>
                <nav class="menu-desktop">
                    <ul>
                        <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                        <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                        <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                        <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                        <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                        <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                        <li><a href="http://localhost:5000/graficos">Gráficos gerenciais</a></li>
                        <li><a href="../pages/chat.html">Chat</a></li>
                    </ul>
                </nav>
            </nav>
            <div class="nav-right">
              <div>
                <a href="#" class="config" onclick="AbrirDashboard()"><img src="../assets/icon_config.png" alt=""></a>
              </div>
            </div>
            <div class="btn-abrir-menu" id="btn-menu">
                <i class="bi bi-list"></i>
            </div>
            <div class="menu-mobile" id="menu-mobile">
                <div class="btn-fechar hide" id="btn-fechar">
                    <i class="bi bi-x-lg"></i>
                </div>
                <nav>
                    <nav>
                        <ul>
                            <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                            <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                            <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                            <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                            <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                            <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                            <li><a href="http://localhost:5000/graficos">Gráficos gerenciais</a></li>
                            <li><a href="../pages/chat.html">Chat</a></li>
                        </ul>
                    </nav>
                </nav>
            </div>
            <div class="overlay-menu"></div>
        </div>
    </header>
    <main>
        <h2>Lista de Manutenções</h2>
        <section class="dados_manut">
            <div class="header_manut">
                <div class="search_manut">
                        <h4>Consultar Manutenções</h4>
                        <input type="text" id="numeroOrdem" placeholder="N° da manutenção">
                        <button onclick="pesquisar()">Pesquisar</button>
                        <button id="filtro" onclick="showPopup()">Filtrar</button>
                        <button onclick="limparFiltro()" style="display: none">Voltar</button>
                </div>
                <!-- <div class="info_equip">
                    <div class="info-left">
                        <h5>Tag do equipamento: ACS-2101</h5>
                        <h5>Tipo do quipamento: Split</h5>
                        <h5>Número de Série:3115423521 </h5>
                    </div>
                    <div class="info-rigth">
                        <h5>Modelo: STR</h5>
                        <h5>Àrea Climatizada: 23m2</h5>
                        <h5>Localidade: U-144</h5>
                    </div>
                </div> -->
            
            </div>
        </section>
        <section class="dados_manut">
            <div class="table-container">
                <table id="tabelaManutencoes">
                    <thead>
                        <tr>
                            <th>Ordem</th>
                            <th>manutenção</th>
                            <th>status</th>
                            <th>Técnico Responsável</th>
                            <th>Título</th>
                            <th>Data de Início</th>
                            <th>Data de Término</th>
                            <th>Hora de Início</th>
                            <th>Hora de Término</th>
                            <th>Descrição da Manutenção</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% 
                        function formatarData(data) {
                            const dataObj = new Date(data);
                            const dia = dataObj.getDate().toString().padStart(2, '0');
                            const mes = (dataObj.getMonth() + 1).toString().padStart(2, '0'); // Mês começa em 0
                            const ano = dataObj.getFullYear().toString();
                            return `${dia}/${mes}/${ano}`;
                        }
            
                        manutencao.forEach(function(manut) { %>
                            <tr>
                                <td><%= manut.id_ordem %></td>
                                <td><%= manut.nome_manut %></td>
                                <td><%= manut.nome_status %></td>
                                <td><%= manut.nome_tec %></td>
                                <td><%= manut.titulo_ord %></td>
                                <td><%= formatarData(manut.data_ini_ord) %></td>
                                <td><%= formatarData(manut.data_fim_ord) %></td>
                                <td><%= manut.hora_ini_ord %></td>
                                <td><%= manut.hora_fim_ord %></td>
                                <td><%= manut.texto_servico %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            
        </section>
        <section class="overlay">
            <div class="popup" id="popup">
                <div class="popup-title-filter">Filtrar manutenção</div>
                <div class="popup-content-filter">
                   <div class="popup-header-filter">
                 
                     <div>
                         <label for="" class="popup-label-filter">Tipo de Manutenção:</label>
                             <select name="" id="">
                                 <option value=""></option>
                                 <option value="">Corretiva</option>
                                 <option value="">Preventiva</option>
                             </select>
                     </div>
                     <div>
                        <label for="" class="popup-label-filter">Técnico:</label>
                        <input type="text" class="popup-input-filter" id="tecnico" placeholder="Victor Bueno"oninput="converterParaMaiuscula(this)"> 
                    </div>
                     <div>
                         <label for="" class="popup-label-filter">Serviços</label>
                         <input type="text" class="popup-input-filter" id="n/s" placeholder="Troca de filtro"> 
                     </div>
                   </div>  
                   <div class="popup-center-filter">
                    <div>
                        <label for="" class="popup-label-filter">Data de Inico</label>
                        <input type="date" name="" id="" class="popup-input-filter date-input">
                    </div>
                    <div>
                        <label for="" class="popup-label-filter">Data de Fim</label>
                        <input type="date" name="" id="" class="popup-input-filter date-input">
                    </div>
                </div>
                <div>
                    <label for="" class="popup-label-filter">Localidade</label>
                    <select name="" id="">
                        <option value=""></option>
                        <option value="">U-144</option>
                        <option value="">U-2110</option>
                        <option value="">U-2325</option>
                    </select>
                </div>
                <div>
                <div>
                    <label for="" class="popup-label-filter">Setor</label>
                    <input type="number" name="" id="setor" class="popup-input-filter">
                </div>
              </div>
              <div>
               <label for="" class="popup-label-filter">Modelo</label>
               <input type="number" name="" id="modelo" class="popup-input-filter">
           </div>
                <button class="popup-button salvar" onclick="saveEquipment()">Filtrar</button>
                <button  class="popup-button cancelar" onclick="hidePopup()">Cancelar</button>
            </div>
        </section>

        
    <section class="user-profile">
        <div id="feedbackModal" class="feedback">
            <div class="feedback-content">
                <span class="feedback-close" onclick="resetForm()">&times;</span>
                <h2 class="title-feedback">Feedback</h2>
                <hr class="feedbackLine">
                <form id="feedbackForm" class="feedback-form">
                    <div id="anonymousSection">
                        <button class="EnviarAnonimamente" id="EnviarAnonimamenteButton" onclick="enableAnonymous()">Enviar Anonimamente</button>
                    </div>
                    <div class="form-group-feedback" id="nomeField">
                        <label class="labelFeedback" for="userName" id="NomeFeedbackLabel">Nome:</label>
                            <input type="text" id="NomeFeedback" class="input-field-feedback displayName" aria-describedby="userNameHelp">
                    </div>
                    <div class="form-group-feedback" id="emailField">
                        <label class="labelFeedback" for="userEmailInput">Email:</label>
                        <input type="email" id="userEmailInput" class="input-field-feedback userEmail" aria-describedby="userEmailHelp">
                    </div>              
                    <div class="form-group-feedback">
                        <label class="labelFeedback" for="DescriçãoFeedback">Descrição do Feedback:</label>
                        <input type="text" id="DescriçãoFeedback" class="input-field-feedback" aria-describedby="DescriçãoFeedback">
                    </div>
                    <hr>
                    <div class="form-group-feedback">
                        <input type="submit" value="Salvar" class="input-submit-feedback">
                    </div>
                </form>
            </div>
        </div>
      </section>
      
      <section class="user-profile">
        <div id="suporteModal" class="suporte">
            <div class="suporte-content">
                <span class="suporte-close">&times;</span>
                <h2 class="title-suporte">Suporte</h2>
                <hr class="suporteLine">
                <form id="suporteForm" class="suporte-form" action="/Suporte" method="POST" enctype="multipart/form-data">
                    <div class="form-group-suporte" id="nomeField">
                        <label class="labelSuporte" for="userName">Nome:</label>
                        <input type="text" id="nome" name="nome_desc" class="input-field-suporte displayName" aria-describedby="userName">
                    </div>
                    <div class="form-group-suporte" id="emailField">
                        <label class="labelSuporte" for="userEmailInput">Email:</label>
                        <input type="email" id="userEmailSuporte" name="email_desc" class="input-field-suporte userEmail" aria-describedby="userEmail">
                    </div>
                    <div class="form-group-suporte">
                        <label class="labelSuporte" for="DescriçãoSuporte">Descrição do Suporte:</label>
                        <input type="text" id="DescriçãoSuporte" name="descricao_desc" class="input-field-suporte" aria-describedby="DescriçãoSuporte">
                    </div>
                    <div class="form-group-suporte">
                      <label class="labelSuporte" for="suporteArquivos">Anexar Imagem:</label>
                      <input type="file" id="suporteArquivos" name="suporteArquivos" class="input-field-suporte" multiple>
                      <div id="imagePreviewContainer" style="margin-top: 20px;"></div>
                  </div>
                    <hr>
                    <div class="form-group-suporte">
                        <input type="submit" onclick="EnviadoSuporte()" value="Salvar" class="input-submit-feedback">
                    </div>
                </form>
            </div>
        </div>
      </section>
      <section class="overlay-dashboard" id="dashboard">
        <div class="dashboard">
            <span class="close-icon" onclick="closeDashboard()">X</span>
            <form>
              <div class="image-dash">
                  <label for="arquivo">
                      <img id="icone" class="user-image" src="../assets/icons8-usuário-50.png" alt="Ícone de pessoa"
                          style="cursor: pointer;">
                  </label>
                  <input type="file" id="arquivo" name="arquivo" accept="image/*" onchange="previewImage(event)"
                      style="display: none;">
                  <img class="user-image" id="preview" src="" alt="Pré-visualização da imagem" style="display: none;">
                  <div class="user-info">
                    <h5 id="userName" style="color: white;" class="user-name displayName"></h5>
                  </div>
              </div>
                  <h5 id="userEmail" style="color: white;" class="user-email userEmail"></h5>
          </form>
            <hr>
            <div class="content-dashboard">
                <div class="links-dash">
                    <a href="#" onclick="AbiriPopupPerfilUsuario()">
                        <img class="img-links" src="../assets/icons8-usuário-16.png" alt="">
                        <span class="user-name">Perfil Do Usuário</span>
                    </a>
                </div>
                <div class="links-dash">
                    <a href="#" class="linksdashfeedback" onclick="AbrirPopupFeedback()">
                        <img class="img-links" src="../assets/icons8-comentar-debate-50.png" alt="Ícone">
                        <span class="user-nameBotaoAbrirPopup">Feedback</span>
                    </a>
                </div>
                <div class="links-dash">
                    <a href="#"  class="linksdashsuporte" onclick="AbrirPopupSuporte()">
                        <img class="img-links" src="../assets/icons8-suporte-online-skin-type-1-100.png" alt="Ícone">
                        <span class="user-nameBotaoAbrirPopup">Suporte</span>
                    </a>
                </div>
                <div class="links-dash">
                    <a href="#" class="NotificaçõesLink">
                        <img class="img-links" src="../assets/icons8-alarmes-50.png" alt="">
                        <span class="user-name">Notificações</span>
                    </a>
                </div>
                <div class="links-dash logout">
                    <a href="#" class="sair" onclick="logout()">
                        <img class="img-links" src="../assets/icon_sair.png" alt="">
                        <span class="user-name">logout</span>
                    </a>
                </div>
            </div>
        </div>
      </section>
      <section class="user-profile">
        <div id="userModal" class="modal">
          <div class="user-content">
            <span class="user-close">&times;</span>
            <h2 class="title-user">Perfil do Usuário</h2>
            <hr class="profileLine">
            <form id="profileForm" class="profile-form">
              <div class="form-group">
                  <label class="labelUser" for="userName">Nome:</label>
                  <input type="text" id="nome" name="nome_pfu" class="input-field displayName" aria-describedby="userNameHelp">
              </div>
              <div class="form-group">
                  <label class="labelUser" for="userEmailPerfilUser">Email:</label>
                  <input type="email" id="userEmailPerfilUser" name="email_pfu" class="input-field userEmail" aria-describedby="userEmailHelp">
              </div>              
              <div class="form-group">
                <label class="labelUser" for="userPhone">Telefone:</label>
                <input type="text" id="userPhone" name="telefone_pfu" class="input-field userPhone" aria-describedby="userPhoneHelp">
            </div>
            <div class="form-group">
                <label class="labelUser" for="CPF">CPF:</label>
                <input type="text" id="CPF" name="cpf_pfu" class="input-field userCPF" aria-describedby="CPF">
            </div>
            <div class="form-group">
                <label class="labelUserData" for="dataNascimento">Data de Nascimento:</label>
                <input type="date" id="dataNascimento" name="data_nascimento_pfu" class="input-fieldData userDataNascimento" aria-describedby="dataNascimento" maxlength="14">
            </div>
              <hr>
              <div class="form-group">
                  <input type="submit" value="Salvar" class="input-submit">
              </div>
          </form>
          </div>
        </div>
      </section>
    </main>
    <script src="../js/dashboard.js"></script>
    <script>
        // Monitorar notificações recebidas
// Monitorar mudanças em localStorage
$(window).on('storage', function(e) {
    console.log("Evento de armazenamento detectado.");
    if (e.originalEvent.key === 'Chamado') {
        console.log("Chamado detectado no armazenamento.");
        // Disparar evento de notificação
        $.notify('Um novo chamado foi criado.', 'success' )
        // Limpar o sinal de novo chamado
        localStorage.removeItem('Chamado');
        console.log("Chamado removido do armazenamento.");
    }
});
    </script>
    <script src="../js/notify.min.js"></script>
    <script src="../js/feedback.js"></script>
    <script src="../js/menu-mobile.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/ScriptsManut.js"></script>
    <script src="../js/loading.js"></script>  
    <script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-app-compat.js"></script>
	<script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-storage-compat.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-database-compat.js"></script>
    <script src="../Login_v1/firebase-init.js"></script>
    <script src="../js/auth-guard.js"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/script.js"></script>
</html> 