<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/global.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/criar-chamado.css">
    <link rel="stylesheet" href="/css/print.css">
    <link rel="stylesheet" href="/css/@media767.css">
    <link rel="stylesheet" href="/css/@mediaheader1000.css">
    <link rel="stylesheet" href="/css/@mediaViewChamado1000.css">
    <link rel="stylesheet" href="/css/@media125.css">
    <link rel="stylesheet" href="/css/@mediaheader1280.css">
    <link rel="stylesheet" href="/css/feedback.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="interface">
            <div class="logo">
                <h1><a href="../pages/home.html">Thermal Tech</a></h1>
            </div>
            <nav>
                <nav class="menu-desktop">
                    <ul>
                        <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                        <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                        <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                        <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                        <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                        <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                        <li><a href="http://localhost:5000/graficos">Gráficos gerenciais</a></li>
                        <li><a href="../pages/chat.html">Chat</a></li>
                    </ul>
                </nav>
            </nav>
            <div class="nav-right">
              <div>
                <a href="#" class="config"><img src="/assets/icon_config.png" alt=""></a>
                <a href="#" class="sair" onclick="logout()"><img src="/assets/icon_sair.png" alt=""></a>
              </div>
              <div>
                <h4 id="userEmail"></h4>
              </div>
            </div>
            <div class="btn-abrir-menu" id="btn-menu">
                <i class="bi bi-list"></i>
            </div>
            <div class="menu-mobile" id="menu-mobile">
                <div class="btn-fechar hide" id="btn-fechar">
                    <i class="bi bi-x-lg"></i>
                </div>
                <nav>
                    <nav>
                        <ul>
                            <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                            <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                            <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                            <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                            <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                            <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                            <li><a href="http://localhost:5000/graficos">Gráficos gerenciais</a></li>
                            <li><a href="../pages/chat.html">Chat</a></li>
                        </ul>
                    </nav>
                </nav>
            </div>
            <div class="overlay-menu"></div>
        </div>
    </header>
    <section>
        <main>
            <section>
                <div class="title-page">
                    <h2>Visualizar chamado de manutenção</h2>
                </div>
                <div class="icons">
                    <form action="/cadastro/chamado" method="post">
                        <button type="submit"><img src="/assets/save.png" onclick="salvarChamado()" alt=""></button>
                        <button><img src="/assets/delete.png" onclick="deletarChamado()" alt=""></button>
                        <button><img src="/assets/print.png" onclick="imprimir()"></button>
                        <button id="gerarPdfButton" type="button"><img src="/assets/pdf.png" onclick="gerarPDF()"></button>
                        <button onclick="document.getElementById('fileInput').click();" id="btn-anexo">
                            <img src="/assets/anexos.png" alt="">
                        </button>
                </div>
                <div class="header-order">
                    <div class="info-header-order">
                        <label for="">Ordem</label>
                        <input type="number" id="ordem" readonly class="data-chamado">
                        <input type="text" id="title-order" placeholder="Correção de dreno ACS-2101" readonly
                            class="data-chamado">
                    </div>
                    <div class="info-header-order">
                        <label for="">Status</label>
                        <input disabled type="text" placeholder="ABERTA" name="status" value="<%= dadosChamado.status_cha %>">
                        <br>
                        <label for="">Chamado</label>
                        <input id="idChamado" disabled type="number" name="chamado" value="<%= dadosChamado.id_chamado %>">
                    </div>
                </div>
            </section>
        </main>
        <main class="chamado section_chamado">
            <section class="dados_chamado">
                <h3>Dados</h2>
            </section>
            <div class="title">
                <h3>Referencias do objeto</h3>
            </div>
            <div class="dados">
                <div class="info-header-order">
                    <label class="label-margin" for="">Equipamento</label>
                    <input disabled type="text" value="<%= dadosChamado.equipamento_cha %>">
                </div>
                <div class="info-header-order">
                    <label class="label-margin" for="">Localidade</label>
                    <input disabled type="text" class="data-chamado" id="localidade" name="localidade" value="<%= dadosEquip[0].localidade_listequip %>">
                </div>
                <div class="info-header-order">
                    <label for="" class="popup-label">Setor</label>
                    <input disabled type="text" class="data-chamado" value="<%= dadosEquip[0].setor_listequip %>">
                </div>
                <div class="info-header-order">
                    <label class="label-margin" for="">Descrição</label>
                    <input disabled type="text" id="descricao" value="<%= dadosEquip[0].descricao_listequip %>"></input>
                </div>
            </div>
            
        </main>
        <main class="responsabilidades section_chamado">
            <div class="title">
                <h3>Responsabilidades</h3>
            </div>
            <div class="tecs info-header-order">
                <div>
                    <label for="">Criado por</label>
                    <input disabled class="data-chamado" type="text" style="width: 320px;" name="criador"
                        value="<%=dadosChamado.criado_por_cha%>">
                    <input disabled class="data-chamado" type="email" name="email" id="email" style="width: 320px;"
                        value="<%=dadosChamado.email%>">
                </div>
                <label>Prioridade</label>
                <div class="prioridade">
                    <% if (dadosChamado.prioridade_cha== 3 ) { %>
                        Baixa
                        <input disabled class="data-chamado" type="radio" id="radioBaixa" name="prioridade" value="baixa"
                            checked>
                        <% } else { %>
                            Baixa
                            <input disabled class="data-chamado" type="radio" id="radioBaixa" name="prioridade" value="baixa">
                            <% } %>

                                <% if (dadosChamado.prioridade_cha== 2 ) { %>
                                    Média
                                    <input disabled class="data-chamado" type="radio" id="radioMedia" name="prioridade"
                                        value="media" checked>
                                    <% } else { %>
                                        Média
                                        <input disabled class="data-chamado" type="radio" id="radioMedia" name="prioridade"
                                            value="media">
                                        <% } %>

                                            <% if (dadosChamado.prioridade_cha== 1 ) { %>
                                                Alta
                                                <input disabled class="data-chamado" type="radio" id="radioAlta"
                                                    name="prioridade" value="alta" checked>
                                                <% } else { %>
                                                    Alta
                                                    <input disabled class="data-chamado" type="radio" id="radioAlta"
                                                        name="prioridade" value="alta">
                                                    <% } %>
                </div>


            </div>
            <div class="user info-header-order">
                
                <div style="padding-top: 5px;">
                    <label for="">Data chamado</label>
                    <% const formatDate=(date)=> {
                        const formattedDate = new Date(date).toISOString().split('T')[0];
                        return formattedDate;
                        };
                        %>
                        <input disabled class="data-chamado" id="dataChamado" type="date" name="dataChamado"
                            value="<%= formatDate(dadosChamado.data_ini_cha) %>" style="font-size: 10px">

                        <input disabled class="data-chamado" type="time" name="horaChamado" id="horaChamado" step="1"
                            value="<%= dadosChamado.hora_ini_cha %>" style="font-size: 10px">
                </div>
            </div>
        </main>
        <main class="objetivo section_chamado">
            <div class="title">
                <h3>Objetivo</h3>
            </div>
            <div class="info-header-order">
                <label for="">Descrição</label>
                <input disabled class="data-chamado" type="text" PL="Correção de dreno ACS-2101" style="width: 280px;"
                    name="titleDesc" value="<%= dadosChamado.descri_cha %>">
                <input disabled class="data-chamado" id="fileInput" type="file" style="display:none;">
            </div>
            <div class="descrição">
                <textarea disabled class="data-chamado" name="desc" id="" cols="30" rows="10" style="width: 100%;padding: 5px;"
                    placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni exercitationem expedita assumenda repellendus,distinctio eaque neque consectetur iusto eligendi rerum cupiditate fugiat itaque sint illum facere quae explicabo fugit rem.Magni officiis, expedita a quasi quisquam non fugit facilis. Sit placeat reiciendis iusto odit deleniti facere sed non consequatur minus, nemo omnis dolorem quae vitae vel pariatur labore distinctio voluptas."><%= dadosChamado.descricao_cha %></textarea>
            </div>
        </main>
        </form>
    </section>

    <section class="overlayFeedback">
        <div class="popupfeedback" id="popupfeedback">
            <div class="popup-titulo-feedback">Feedback</div>
            <div class="popup-content-feedback">
                <div class="popup-header-Feedback">
                    <div id="anonymousSection">
                        <button class="EnviarAnonimamente" onclick="enableAnonymous()">Enviar Anonimamente</button>
                    </div>
                    <div id="feedbackSection">
                        <div>
                            <label for="" class="label-feedback" id="NomeFeedbackLabel">Nome:</label>
                            <input disabled type="text" class="input-feedback" id="NomeFeedback" placeholder="Nome">
                        </div>
                        <div>
                            <label for="" class="label-feedback" id="emailLabelFeed">Email:</label>
                            <input disabled type="text" class="input-feedback" id="emailFeed" placeholder="Email">
                        </div>
                        <div>
                            <label for="" class="label-feedback">Descrição do Feedback:</label> 
                            <textarea class="DescriçãoFeedback" name="DescriçãoFeedback" id="DescriçãoFeedback" cols="82" rows="3" required maxlength="500"></textarea>
                        </div>
                        <div>
                            <button class="popup-button salvarFeedback" onclick="SalvarFeedback()">Fazer Feedback</button>
                            <button class="popup-button cancelarFeedback" onclick="EsconderpopouFeedback()">Cancelar</button>
                        </div>
                    </div>
                </div>                
                </div>                
            </div>
        </div>
    </section>
    <section class="overlaySuporte">
        <div class="popupSuporte" id="popupSuporte">
            <div class="popup-titulo-Suporte">Suporte</div>
            <div class="popup-content-Suporte">
                <div class="popup-header-Suporte">
                    <div>
                        <label for="" class="label-Suporte">Nome:</label>
                        <input disabled type="text" class="input-Suporte" id="NomeSuporte" placeholder="Nome">
                    </div>
                    <div>
                        <label for="" class="label-Suporte">Email:</label>
                        <input disabled type="text" class="input-Suporte" id="email" placeholder="Email">
                    </div>
                    <div>
                        <label for="" class="label-Suporte">Descrição do Suporte:</label> 
                        <textarea disabled name="DescriçãoSuporte" id="DescriçãoSuporte" cols="82" rows="3" required></textarea>
                    </div>
                    <div>
                        <button class="popup-button salvarSuporte" onclick="SalvarSuporte()">Fazer Suporte</button>
                        <button class="popup-button cancelarSuporte" onclick="EsconderpopouSuporte()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="position: fixed; right: 10px; bottom: 20px;">
    </div>
    <script src="/js/feedback.js"></script>
<script src="/js/menu-mobile.js"></script>
<script src="/js/logout.js"></script>
<script src="../js/script.js"></script>
<link rel="stylesheet" href="/css/@media1440.css">
<link rel="stylesheet" href="/css/@media1200.css">
</body>

<script>
    
</script>
