<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../css/global.css">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="../css/@media1200.css">
    <!-- <link rel="stylesheet" href="../css/@media1440.css"> -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/criar-chamado.css">
    <link rel="stylesheet" href="../css/@mediaheader1000.css">
    <link rel="stylesheet" href="../css/@mediaOrdem.css">
    <link rel="stylesheet" href="../css/@media125.css">
    <link rel="stylesheet" href="../css/@mediaheader1280.css">
    <link rel="stylesheet" href="../css/feedback.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>Ordem</title>
</head>

<body>
    <header>
        <div class="interface">
            <div class="logo">
                <h1><a href="../pages/home.html">Thermal Tech</a></h1>
            </div>
            <nav>
                <nav class="menu-desktop">
                    <ul>
                        <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                        <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                        <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                        <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                        <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                        <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                        <li><a href="">Gráficos gerenciais</a></li>
                        <li><a href="../pages/chat.html">Chat</a></li>
                    </ul>
                </nav>
            </nav>
            <div class="nav-right">
              <div>
                <a href="#" class="config" onclick="AbrirDashboard()"><img src="../assets/icon_config.png" alt=""></a>
              </div>
            </div>
            <div class="btn-abrir-menu" id="btn-menu">
                <i class="bi bi-list"></i>
            </div>
            <div class="menu-mobile" id="menu-mobile">
                <div class="btn-fechar hide" id="btn-fechar">
                    <i class="bi bi-x-lg"></i>
                </div>
                <nav>
                    <nav>
                        <ul>
                            <li><a href="http://localhost:5000/Equipamentos">Equipamentos</a></li>
                            <li><a href="http://localhost:5000/manutencao">Manutenções</a></li>
                            <li><a href="http://localhost:5000/consulta_ordem">Consultar Ordens</a></li>
                            <li><a href="http://localhost:5000/chamado">Chamados</a></li>
                            <li><a href="http://localhost:5000/cadastro">Cadastro Geral</a></li>
                            <li><a href="http://localhost:5000/relatorio">Homem Hora</a></li>
                            <li><a href="">Gráficos gerenciais</a></li>
                            <li><a href="../pages/chat.html">Chat</a></li>
                        </ul>
                    </nav>
                </nav>
            </div>
            <div class="overlay-menu"></div>
        </div>
    </header>
    <section>
        <section>
            <main>
                <section>
                    <div class="title-page">
                        <h2>Vizualizar Ordem</h2>
                    </div>
                    <div class="icons">
                        <form action="/encerra/ordem" method="post">
                            <button type="submit"><img src="../assets/save.png" onclick="salvarOrdem()" alt=""></button>
                            <button type="button"><img src="../assets/delete.png" onclick="deletarOrdem()"
                                    alt=""></button>
                            <button type="button"><img src="../assets/print.png" onclick="imprimirOrdem()"></button>
                            <button type="button" onclick="document.getElementById('fileInput').click();"
                                id="btn-anexo">
                                <img src="../assets/anexos.png" alt="">
                            </button>
                    </div>
                    <div class="header-order">
                        <div class="info-header-order">
                            <label for="">Ordem</label>
                            <input type="number" name="ordem" style="background-color: #8CB1DA;"
                                value="<%= dadosOrdem.id_ordem %>" readonly>
                            <input type="text" id="title-order" value="Correção de dreno ACS-2101" readonly>
                        </div>
                        <div class="info-header-order">
                            <label for="">Status</label>
                            <input type="text" placeholder="ABERTA" name="status" value="<%= dadosOrdem.nome_status%>"
                                readonly>
                            <br>
                            <label for="">Chamado</label>
                            <input type="number" name="num_chamado" id="numeroChamado"
                                value="<%= dadosOrdem.numero_cha %>" readonly>
                        </div>
                    </div>
                </section>
            </main>
            <section class="section_order">
                <main>
                    <div class="info-header-order">
                        <div class="title">
                            <h3>Responsabilidades</h3>
                        </div>
                        <div>
                            <label for="">Criado por</label>
                            <input class="data-chamado" type="text" id="email" name="criador" style="width: 320px;"
                                value="<%= dadosOrdem.criado_por_ord %>" readonly>
                        </div>
                    </div>
                </main>
                <main>
                    <div class="info-header-order">
                        <div class="title">
                            <h3>Datas</h3>
                        </div>
                        <div>
                            <label for="">Inicio</label>
                            <% const formatDate=(dateString)=> {
                                let date = new Date(dateString);
                                if (!isNaN(date.getTime()) && date.toISOString().slice(0,10) !== '1970-01-01') {
                                const formattedDate = date.toISOString().split('T')[0];
                                return formattedDate;
                                } else {
                                console.error("Erro ao formatar a data.");
                                return '';
                                }
                                };
                                %>
                                <input class="data-chamado" id="data-init-ordem" name="data_inicio" type="date"
                                    value="<%= formatDate(dadosOrdem.data_ini_ord) %>">
                                <input type="time" id="hora-init-ordem" name="hora_inicio"
                                    value="<%= dadosOrdem.hora_ini_ord %>">
                                <label for="">Prioridade</label>
                                <div class="prioridade">
                                    <% if (dadosOrdem.prioridade_ord==3) { %>
                                        Baixa
                                        <input class="data-chamado" type="radio" id="priBaixa" name="prioridade"
                                            value="3" checked>
                                        <% } else { %>
                                            Baixa
                                            <input class="data-chamado" type="radio" id="priBaixa" name="prioridade"
                                                value="3">
                                            <% } %>

                                                <% if (dadosOrdem.prioridade_ord==2) { %>
                                                    Média
                                                    <input class="data-chamado" type="radio" id="priMedia"
                                                        name="prioridade" value="2" checked>
                                                    <% } else { %>
                                                        Média
                                                        <input class="data-chamado" type="radio" id="priMedia"
                                                            name="prioridade" value="2">
                                                        <% } %>

                                                            <% if (dadosOrdem.prioridade_ord==1) { %>
                                                                Alta
                                                                <input class="data-chamado" type="radio" id="priAlta"
                                                                    name="prioridade" value="1" checked>
                                                                <% } else { %>
                                                                    Alta
                                                                    <input class="data-chamado" type="radio"
                                                                        id="priAlta" name="prioridade" value="1">
                                                                    <% } %>
                                </div>

                                <div>
                                    <label for="">Fim</label>
                                    <input type="date" name="data_fim" id="data_fim"
                                        value="<%= formatDate(dadosOrdem.data_fim_ord) %>">
                                    <!-- <input type="date" name="data_fim" value="<%= formatDate(dadosOrdem.data_fim_ord) %>"> -->
                                    <input type="time" name="hora_fim" id="hora_fim" name="hora_fim"
                                        value="<%= dadosOrdem.hora_fim_ord %>">
                                    <label for="">Tipo Manutenção</label>
                                    <select name="tipo_manut" id="">
                                        <option value=""></option>
                                        <option value="1" <%=dadosOrdem.manut_ord==1 ? 'selected' : '' %>>Corretiva
                                        </option>
                                        <option value="2" <%=dadosOrdem.manut_ord==2 ? 'selected' : '' %>>Preventiva
                                        </option>
                                    </select>

                                </div>
                        </div>
                    </div>
                </main>
                <main>
                    <div class="info-header-order">
                        <div class="title">
                            <h3>Confirmações</h3>
                        </div>
                        <label for="">Técnico resp.</label>
                        <input type="number" placeholder=""
                            oninput="preencherNomeTec(decodeURIComponent('<%= encodeURIComponent(JSON.stringify(nomeTecs)) %>'))"
                            id="matricula" name="matricula" style="width: 90px;" value="<%= dadosOrdem.matricula_ord %>"
                            required>
                        <input type="text" value="" id="nomeTec">
                        <label for="">Data de lanç.</label>
                        <input type="date" name="data_lanc_ord" required
                            value="<%= formatDate(dadosOrdem.data_lanc_ord) %>">
                        <div>
                            <label for="">Inicio do trabalho</label>
                            <input type="date" name="data_ini_trab" value="<%= formatDate(dadosOrdem.data_ini_trab) %>"
                                required>
                            <input type="time" step="1" name="hora_ini_trab" value="<%= dadosOrdem.hora_ini_trab %>"
                                required>
                        </div>
                        <div>
                            <label for="">Fim do Trabalho</label>
                            <input type="date" name="data_fim_trab" value="<%= formatDate(dadosOrdem.data_fim_trab) %>"
                                required>
                            <input type="time" step="1" name="hora_fim_trab" value="<%= dadosOrdem.hora_fim_trab %>"
                                required>
                        </div>
                        <div>
                            <label for="">Texto do serviço</label>
                            <textarea name="texto_servico" id="" cols="60"
                                rows="2"><%= dadosOrdem.texto_servico %></textarea>
                        </div>
                    </div>
                </main>
                <main>
                    <div class="title">
                        <h3>Dados total Confirmações</h3>
                    </div>
                    <div class="info-header-order">
                        <label for="">Dias acumulado</label>
                        <input type="number" style="width: 40px;" value="">
                        <input type="text" style="width: 40px;" value="">
                        <label for="">Tempo de duração</label>
                        <input type="time" value="">
                        <input type="text" value="Horas" style="width: 50px;">
                        <div style="margin-top: 10px;">
                            Confirmação final
                            <input type="checkbox" id="">
                            Necessida revisão?
                            <input type="checkbox">
                        </div>
                    </div>
                </main>
            </section>
        </section>
        </main>
        </form>
    </section>

    <section class="user-profile">
        <div id="feedbackModal" class="feedback">
            <div class="feedback-content">
                <span class="feedback-close" onclick="resetForm()">&times;</span>
                <h2 class="title-feedback">Feedback</h2>
                <hr class="feedbackLine">
                <form id="feedbackForm" class="feedback-form">
                    <div id="anonymousSection">
                        <button class="EnviarAnonimamente" id="EnviarAnonimamenteButton" onclick="enableAnonymous()">Enviar Anonimamente</button>
                    </div>
                    <div class="form-group-feedback" id="nomeField">
                        <label class="labelFeedback" for="userName" id="NomeFeedbackLabel">Nome:</label>
                            <input type="text" id="NomeFeedback" class="input-field-feedback " aria-describedby="userNameHelp">
                    </div>
                    <div class="form-group-feedback" id="emailField">
                        <label class="labelFeedback" for="userEmailInput">Email:</label>
                        <input type="email" id="userEmailInput" class="input-field-feedback" aria-describedby="userEmailHelp">
                    </div>              
                    <div class="form-group-feedback">
                        <label class="labelFeedback" for="DescriçãoFeedback">Descrição do Feedback:</label>
                        <input type="text" id="DescriçãoFeedback" class="input-field-feedback" aria-describedby="DescriçãoFeedback">
                    </div>
                    <hr>
                    <div class="form-group-feedback">
                        <input type="submit" value="Salvar" class="input-submit-feedback">
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <section class="user-profile">
        <div id="suporteModal" class="suporte">
            <div class="suporte-content">
                <span class="suporte-close">&times;</span>
                <h2 class="title-suporte">Suporte</h2>
                <hr class="suporteLine">
                <form id="suporteForm" class="suporte-form" action="/Suporte" method="POST" enctype="multipart/form-data">
                    <div class="form-group-suporte" id="nomeField">
                        <label class="labelSuporte" for="userName">Nome:</label>
                        <input type="text" id="nome" name="nome_desc" class="input-field-suporte" aria-describedby="userName">
                    </div>
                    <div class="form-group-suporte" id="emailField">
                        <label class="labelSuporte" for="userEmailInput">Email:</label>
                        <input type="email" id="userEmailSuporte" name="email_desc" class="input-field-suporte" aria-describedby="userEmail">
                    </div>
                    <div class="form-group-suporte">
                        <label class="labelSuporte" for="DescriçãoSuporte">Descrição do Suporte:</label>
                        <input type="text" id="DescriçãoSuporte" name="descricao_desc" class="input-field-suporte" aria-describedby="DescriçãoSuporte">
                    </div>
                    <div class="form-group-suporte">
                        <label class="labelSuporte" for="suporteArquivos">Anexar Imagem :</label>
                        <input type="file" id="suporteArquivos" name="suporteArquivos" class="input-field-suporte" multiple>
                    </div>
                    <hr>
                    <div class="form-group-suporte">
                        <input type="submit" onclick="EnviadoSuporte()" value="Salvar" class="input-submit-feedback">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="overlay-dashboard" id="dashboard">
        <div class="dashboard">
            <span class="close-icon" onclick="closeDashboard()">X</span>
            <form>
                <div class="image-dash">
                    <label for="arquivo">
                        <img id="icone" class="user-image" src="../assets/icons8-usuário-50.png" alt="Ícone de pessoa"
                            style="cursor: pointer;">
                    </label>
                    <input type="file" id="arquivo" name="arquivo" accept="image/*" onchange="previewImage(event)"
                        style="display: none;">
                    <img class="user-image" id="preview" src="" alt="Pré-visualização da imagem" style="display: none;">
                    <div class="user-info">
                        <h4 id="userName" class="user-name"></h4>
                    </div>
                </div>
                    <h5 id="userEmail" style="color: white;" class="user-email"></h5>
            </form>
            <hr>
            <div class="content-dashboard">
                <div class="links-dash">
                    <a href="#" onclick="AbiriPopupPerfilUsuario()">
                        <img class="img-links" src="../assets/icons8-usuário-16.png" alt="">
                        <span class="user-name">Perfil Do Usuário</span>
                    </a>
                </div>
                <div class="links-dash">
                    <a href="#" class="linksdashfeedback" onclick="AbrirPopupFeedback()">
                        <img class="img-links" src="../assets/icons8-comentar-debate-50.png" alt="Ícone">
                        <span class="user-nameBotaoAbrirPopup">Feedback</span>
                    </a>
                </div>
                <div class="links-dash">
                    <a href="#"  class="linksdashsuporte" onclick="AbrirPopupSuporte()">
                        <img class="img-links" src="../assets/icons8-suporte-online-skin-type-1-100.png" alt="Ícone">
                        <span class="user-nameBotaoAbrirPopup">Suporte</span>
                    </a>
                </div>
                <div class="links-dash">
                    <a href="#" class="NotificaçõesLink">
                        <img class="img-links" src="../assets/icons8-alarmes-50.png" alt="">
                        <span class="user-name">Notificações</span>
                    </a>
                </div>
                <div class="links-dash logout">
                    <a href="#" class="sair" onclick="logout()">
                        <img class="img-links" src="../assets/icon_sair.png" alt="">
                        <span class="user-name">logout</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="user-profile">
        <div id="userModal" class="modal">
          <div class="user-content">
            <span class="user-close">&times;</span>
            <h2 class="title-user">Perfil do Usuário</h2>
            <hr class="profileLine">
            <form id="profileForm" class="profile-form" action="/Perfil_Usuario" method="POST">
                <div class="form-group">
                    <label class="labelUser" for="userName">Nome:</label>
                    <input type="text" id="nome" name="nome_pfu" class="input-field" aria-describedby="userNameHelp">
                </div>
                <div class="form-group">
                    <label class="labelUser" for="userEmailPerfilUser">Email:</label>
                    <input type="email" id="userEmailPerfilUser" name="email_pfu" class="input-field" aria-describedby="userEmailHelp">
                </div>              
                <div class="form-group">
                    <label class="labelUser" for="userPhone">Telefone:</label>
                    <input type="text" id="userPhone" name="telefone_pfu" class="input-field" aria-describedby="userPhoneHelp">
                </div>
                <div class="form-group">
                    <label class="labelUser" for="CPF">CPF:</label>
                    <input type="text" id="CPF" name="cpf_pfu" class="input-field" aria-describedby="CPF">
                </div>
                <div class="form-group">
                    <label class="labelUserData" for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" id="dataNascimento" name="data_nascimento_pfu" class="input-fieldData" aria-describedby="dataNascimento" maxlength="14">
                </div> 
                <hr>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="input-submit">
                </div>
            </form>
          </div>
        </div>
      </section>
    <script defer src="../js/script.js"></script>
    <!-- <script src="../js/teste.js"></script> -->
    <script src="../js/menu-mobile.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Chame a função preencherNomeTec aqui com os argumentos apropriados
            preencherNomeTec(decodeURIComponent('<%= encodeURIComponent(JSON.stringify(nomeTecs)) %>'));
        });
    
    </script>
    <script src="../js/dashboard.js"></script>
    <script src="../js/feedback.js"></script>
    <script src="../Login_v1/firebase-init.js"></script>
    <script src="../js/auth-guard.js"></script>
    <script src="../js/logout.js"></script>
    <script src="../js/loading.js"></script>  
    <script src="../js/auth-guard.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.19.1/firebase-storage-compat.js"></script> 
    <script src="../js/scriptsViewOrdem.js"></script>
    <link rel="stylesheet" href="../css/@media1440.css">
    <link rel="stylesheet" href="../css/@media1200.css">
</body>